[2019-11-26 15:33] jyn514 commented on #438
@pietroalbini can you rerun the build for these crates? After that we can close this issue.

[2019-11-26 15:37] jyn514 commented on #422
@QuietMisdreavus do you know if there's an issue open for rustdoc about this? If not I can open one.

Separately, could we work around this in the meantime by looking in `target/doc` if `target/$target/doc` is empty?

[2019-11-26 15:46] jyn514 commented on #413
@pickfire you mentioned in #200 you were having trouble setting up the site locally. We've since switched to docker and the steps are much easier to reproduce, are you still interested in contributing?

[2019-11-26 16:34] pickfire commented on #413
@jyn514 Yes, thanks for pinging me.

Are there any other solutions other than the proposed method?

[2019-11-26 16:49] jyn514 commented on #413
I agree, `comrak` doesn't seem to support this so we'd have to parse the links ourselves which I definitely don't want to do.

The redirect idea seems good - some URLs could overlap with existing routes but the only current ones are `builds` and `source`, so I doubt anyone would have a file with the same name.

I think you'd want to add a new route near https://github.com/rust-lang/docs.rs/blob/32

[2019-11-26 16:51] zwhitchcox opened #490 "Documentation for Implemented Traits Confusing for Beginners"
[I posted in Reddit](https://www.reddit.com/r/rust/comments/e1zoja/documentation_seems_to_be_missing_methods/) about a method that seemed to be missing in the [Range documentation](https://doc.rust-lang.org/std/ops/struct.Range.html), and it was explained to me that this method (`map`) came from a different trait called `Iterator`.

Most people seemed to know this, but when asked how I would find

[2019-11-26 16:56] jyn514 commented on #490
I agree with most of these points actually (Iterators are one of the most confusing things for beginners), but this is not the right place for this issue, docs.rs just hosts the docs. Could you open an issue at https://github.com/rust-lang/rust instead?

[2019-11-26 17:13] pietroalbini commented on #438
Queued a rebuild for them.

[2019-11-26 17:13] #438 closed

[2019-11-26 20:24] jyn514 commented on #422
Relevant code: https://github.com/rust-lang/docs.rs/blob/master/src/docbuilder/rustwide_builder.rs#L284

[2019-11-27 05:27] jyn514 commented on #228
This should be less of an issue since we now always use the latest nightly. I would like to be able to choose between stable, beta, and nightly though. I'm not quite sure I see the use case for a specific nightly version, but if someone wants to explain I'm happy to listen :)

[2019-11-27 09:13] GuillaumeGomez commented on #228
A few options used by docs.rs on rustdoc to generate docs are unstable.

[2019-11-27 12:09] Dylan-DPC opened #494 "Search for type names in dependencies"
From a Twitter discussion, quoting @GuillaumeGomez :

Creating this issue so that we remember it in future and possibly implement it

(Context: Idea was suggested by @gilescope who wanted a functionality similar to Haskell's hoogle

[2019-11-27 12:09] GuillaumeGomez commented on #494
Transferred.

[2019-11-27 13:12] jyn514 commented on #74
@GuillaumeGomez is this something that should be done by docs.rs? It seems pretty easy to implement but I think it would make more sense to have a `rel=canonical` link in every page generated with rustdoc, not just the ones on docs.rs.

[2019-11-27 13:22] GuillaumeGomez commented on #74
If I understand correctly, it's supposed to be used in the `<head>` part. However, I'm not sure if this'll be really useful here considering that all URLs are unique in our case... Also, the URL needs to include the domain name, so if we want to add it, I think it should be done on docs.rs side.

[2019-11-27 13:39] jyn514 commented on #74
This is (correct me if I'm wrong) for documentation URLs that are explicitly given in Cargo.toml, not for different versions of the docs. See for example https://github.com/serde-rs/serde/blob/master/serde/Cargo.toml#L9. The domain name is given here, it's not necessarily the same site that's currently hosting the docs.

[2019-11-27 13:45] GuillaumeGomez commented on #74
Oh in this case it makes sense to have canonical then I guess. But still on docs.rs side. :)

[2019-11-27 23:15] pickfire commented on #413
@jyn514 Okay, thanks for pointing this out.

[2019-11-28 17:32] davidpdrsn opened #500 "Build succeeds, yet no documentation shows up"
**Crate name:** https://crates.io/crates/bae
**Build failure link:** https://docs.rs/crate/bae/0.1.2/builds

**Additional details:**
The build succeeds, yet no documentation shows up https://docs.rs/crate/bae/0.1.2 🤔

[2019-11-28 17:35] jyn514 commented on #500
Duplicate of https://github.com/rust-lang/docs.rs/issues/422

[2019-11-28 17:35] #500 closed

[2019-11-28 17:39] davidpdrsn commented on #422
I’m currently hitting this bug with my crate [bae](https://crates.io/crates/bae). Is there any possible workaround?

[2019-11-28 17:44] jyn514 commented on #422
@davidpdrsn not for proc-macro authors, no. I have a work-around on our end in https://github.com/rust-lang/docs.rs/pull/491, but @QuietMisdreavus wants to fix the upstream bug (https://github.com/rust-lang/rust/issues/66796) first.

[2019-11-30 11:57] alexanderkjall opened #501 "gpgme docs doesn't build"
**Crate name:**
gpgme

**Build failure link:**
https://docs.rs/crate/gpgme/0.9.1/builds/188420

**Additional details:**

Issue seems to be that the binary gpg-error-config isn't installed, this binary is provided by libgpg-error-dev in debian.

[2019-11-30 13:23] jyn514 opened #502 "Redirect to latest version does not work if build failed"
This is actually a combination of a number of issues:

1. If you go to https://docs.rs/isatty/0.1.0/isatty/, the link to the latest version takes you to https://docs.rs/isatty/0.2.0/isatty/?search=isatty
2. isatty 0.2.0 failed its build
3. /isatty/0.2.0/isatty/ gives a 404

https://github.com/rust-lang/docs.rs/pull/325 fixed this for /isatty/0.2.0/isatty, so the issue is that /:crate/:version/:tar

[2019-12-01 03:04] jyn514 opened #503 "rlib and cdylib crates are marked as 'not a library'"
Looking at https://doc.rust-lang.org/reference/linkage.html, everything except `bin` is a type of library. I ran into @MaulingMonkey on discord who was confused why his crate wasn't building when he had `rlib` and `cdylib` set: https://docs.rs/crate/bugsalot/0.1.5/builds/202497.

[2019-12-01 03:21] MaulingMonkey commented on #503
Seems to have been a regression sometime between rust 1.35 and rust 1.38+ (which also seems to try and include Cargo.lock under the impression that the crate isn't a library) since the manifests didn't change at all besides the version:

https://docs.rs/crate/bugsalot/0.1.4/source/Cargo.toml.orig (published with rust 1.35)
https://docs.rs/crate/bugsalot/0.1.5/source/Cargo.toml.orig (published with

[2019-12-01 03:58] MaulingMonkey commented on #503
Okay, apparently I lied about `"lib"` being a workaround.  I tried this for https://docs.rs/crate/bugsalot/0.1.6/ but still no docs.

I also tried publishing with rust 1.35.  Again, no docs (https://docs.rs/crate/bugsalot/0.1.7/).  While this did exclude Cargo.lock from my local bugsalot-0.1.7.crate, it appears to get re-added by docs.rs: https://docs.rs/crate/bugsalot/0.1.7/source/Cargo.lock

The

[2019-12-02 00:23] jyn514 commented on #503
https://docs.rs/crate/bugsalot/0.1.6/source/Cargo.toml may be because https://github.com/rust-lang/docs.rs/pull/499 hasn't been deployed yet.

[2019-12-02 04:46] MaulingMonkey commented on #503
Looks likely, thanks for looking into this!

[2019-12-02 06:24] gilescope commented on #494
Hoogle is great, but I wonder if we can do better. Can we autogenerate maps that visualise the possible routes to get from one type to another. Here's a graphviz of getting to/from String,&str,OsString.OsStr,PathBuf,Path... (I've probably missed a few paths as it's not autogenerated), but it would be pretty epic to give a handful of types and for a graph to show me how I could get from one to the

[2019-12-02 06:29] gilescope commented on #494
@steveklabnik tweeted in https://t.co/b0WKl6Bmm1 that docs.rs supported vec -> usize though that doesn't seem to alas work any longer.

[2019-12-02 13:35] jyn514 commented on #494
@gilescope your idea sounds really cool but I'm not sure it belongs in this issue. Search terms are a special case - they're already generated by rustdoc for local docs, docs.rs just needs integrate them into the main site.

If you're interested in the graph idea, could you open an issue in https://github.com/rust-lang/rust for rustdoc?

[2019-12-02 21:03] jyn514 opened #504 "Link to crates-build-env instead of asking people to make an issue"
From Discord:

Going to start with #483 just so I know how to make a PR, then I'll add it to the wiki

[2019-12-02 21:06] jyn514 commented on #504
Hmm ... for this to work there needs to be a way to test changes to the `rustops/crates-build-env` container locally. Maybe add a flag to `cratesfyi build crate` that specifies a custom docker container?

[2019-12-02 21:17] jyn514 commented on #504
Maybe we don't even have to go that far ... it's running a docker command, we could have people run that docker command locally. Here's the one for `arpack-ng-sys`:

[code]

The only bits that need to change are the mounted directories:
- /home/cratesfyi/workspace/builds/arpack-ng-sys-0.1.0/target
- /home/cratesfyi/workspace/builds/arpack-ng-sys-0.1.0/source
- /home/cratesfyi/workspace/cargo-home

[2019-12-02 21:56] jyn514 commented on #504
Ok cool I have a demo of this working locally: https://gist.github.com/jyn514/1feecb76d8267718c8b3437244cc5627

[2019-12-03 02:38] alecdotninja opened #505 "Why "doesn't [my crate] have any documentation"?"
I'm sorry in advance if this is a configuration issue on my end, but I'm not sure why [my crate](https://crates.io/crates/tailcall) "doesn't have any documentation".

I am able to build the docs locally with `cargo doc`:
[code]

But for some reason my documentation does not appear on [docs.rs](https://docs.rs/crate/tailcall/0.1.2), and I don't see a "Builds" tab with failure information:
![screens

[2019-12-03 03:03] jyn514 commented on #505
Duplicate of #422

[2019-12-03 03:03] #505 closed

[2019-12-03 05:23] jyn514 commented on #504
Made a wiki page: https://github.com/rust-lang/docs.rs/wiki/Making-changes-to-the-build-environment

[2019-12-03 05:33] jyn514 commented on #483
Sorry about that, apparently github automatically closes mentioned issues even if the changes haven't been merged yet.

[2019-12-03 05:38] jyn514 commented on #504
Relevant code: https://github.com/rust-lang/docs.rs/blob/master/templates/crate_details.hbs#L65

[2019-12-03 09:10] johnschug commented on #501
I've opened a pull request (rust-lang/crates-build-env#23) that should fix this once it makes its way to the doc.rs builders.

[2019-12-04 21:18] alberdingk-thijm commented on #471
@jyn514, do you happen to know when docs.rs will try to build `nannou` (and the other crates related to this error in `xcb`) again?

[2019-12-05 00:02] jyn514 commented on #471
Rebuilding automagically is #464 . Currently someone has to schedule a manual build.

[2019-12-05 00:04] jyn514 commented on #471
This particular crate won't be helped by rebuilding however because it tries to write to a read only filesystem.

[2019-12-05 03:22] rodrimati1992 opened #506 "Add option to build with stable"
https://docs.rs/crate/abi_stable/0.8.0/builds

abi_stable
https://docs.rs/crate/abi_stable/0.8.0/builds/203164

It also failed on my computer (in nightly-2019-12-03-x86_64-unknown-linux-gnu) with the same error and this backtrace

[code]

This seems to be the same bug as https://github.com/rust-lang/rust/issues/67006.

`cargo doc` runs fine on stable-x86_64-unknown-linux-gnu - rustc 1.39.0 (4560ea

[2019-12-05 03:37] jyn514 commented on #506
This is not a docs.rs bug. Feel free to open an issue in https://github.com/rust-lang/rust/ if you think it is sufficiently different from https://github.com/rust-lang/rust/issues/67006.

[2019-12-05 03:48] rodrimati1992 commented on #506
It is a build failure that would be fixed by building this crate with rustdoc stable,which is why I mention it at the end of the comment.

[2019-12-05 03:50] rodrimati1992 commented on #506
`cargo +nightly doc` has been buggy enough for me that I would prefer if building with stable was an option on a per-crate basis.

[2019-12-05 03:56] jyn514 commented on #295
Duplicate of https://github.com/rust-lang/docs.rs/issues/464

[2019-12-05 03:56] #295 closed

[2019-12-05 03:57] jyn514 commented on #464
https://github.com/rust-lang/docs.rs/issues/295 also mentioned allowing crate owners to re-queue builds for their own crates, e.g. if the build succeeds but the JavaScript throws a runtime error because of a bad nightly.

[2019-12-05 03:59] jyn514 commented on #295
(I know your issue came first, but the other has more activity so I think it makes more sense to link to it)

[2019-12-05 04:01] jyn514 commented on #506
This seems unlikely to be possible in the near future, see https://github.com/rust-lang/docs.rs/issues/228#issuecomment-558998819. However I would like to support this so I'm leaving the issue open.

[2019-12-05 04:14] jyn514 commented on #506
The nightly options are `--resource-suffix`, `--static-root-path`, and `--disable-per-crate-search`. The 3rd could probably be worked around, but the first two are necessary to ensure the proper CSS files are linked for the documentation.

[2019-12-05 16:59] alberdingk-thijm commented on #471
We tracked down the dependency (`x11-clipboard`) that caused the error and sent a PR https://github.com/quininer/x11-clipboard/pull/17 through, which has been bubbled up to the other dependency `copypasta` in a minor patch https://github.com/jwilm/alacritty/pull/3024. `conrod_core` (the dependency which pulls in `copypasta`) just requests `0.6`, so I would think building with `copypasta 0.6.1` wou

[2019-12-05 17:24] jyn514 commented on #471
@alberdingk-thijm Could you make these updates in a different repo, such as https://github.com/nannou-org/nannou/issues/429? This is not a docs.rs bug.

[2019-12-05 17:30] jyn514 commented on #471
Oh hold on I think I misunderstood your comment. You're asking us to build with a different version of a minor dependency? We don't control dependency management, that's done by cargo. If you've fixed the bug you can publish a new version and docs.rs will build that version.

[2019-12-05 18:36] alberdingk-thijm commented on #471
Gotcha, that's what I was asking. Thanks for your help!

[2019-12-06 20:23] #422 closed

[2019-12-06 22:03] jyn514 commented on #422
For everyone who's been impacted: This has been fixed but the fix has not yet been deployed. Once it has (hopefully sometime next week), I'll comment again and you can publish your docs by publishing a new patch version of your crate.

[2019-12-07 00:58] jyn514 commented on #503
Hmm, so this isn't actually true, you can also have `test` kinds

[2019-12-07 01:09] jyn514 commented on #503
Ok I think the issue is that we're actually looking at `kind`, which is not the same as `crate_types`. Here's the output of `cargo metadata | jq '.packages | .[].targets | .[] | {crate_types,kind}' -c | sort -u` on ripgrep:

[code]

Notice that the only crate_types listed are `bin`, `lib`, and `proc-macro`, but there's all sorts of `kind` fields. Here's the same command run on `rustc`:

[code]

I

[2019-12-07 01:24] jyn514 commented on #502
Perhaps a better thing to do is not show 'go to latest version' for failed builds? That would hit the majority of use cases. For this particular case though I think we really should show 0.2.0 so people see the 'this crate is deprecated' message.

[2019-12-07 01:36] jyn514 commented on #503
See also https://doc.rust-lang.org/cargo/commands/cargo-metadata.html

[2019-12-07 01:54] jyn514 commented on #440
@dtolnay it looks like this error started occurring after the switch to rustwide (https://github.com/rust-lang/docs.rs/pull/407). It's probably due to https://github.com/rust-lang/cargo/issues/4423 - as you can see in the build logs `--target` is set in the latest (broken) build, but not in the old one.

[2019-12-07 02:01] jyn514 commented on #494
@Dylan-DPC  can you expand on this? I'd like to implement it but I'm not familiar with how search indexing works.

Do we know why cross-crate search isn't currently working on docs.rs? Is it because we pass `--no-deps` to `cargo doc`?

[2019-12-07 13:22] GuillaumeGomez opened #511 "sysinfo crate is marked "not a library", but it's wrong"
As you can see when going on https://docs.rs/crate/sysinfo/0.10.0, you have a big message saying "sysinfo-0.10.0 is not a library", which is wrong.

[2019-12-07 13:24] GuillaumeGomez opened #512 "sysinfo crate doesn't get its documentation generated"
Linked to #511. Since it's being recognized as a binary, no documentation is generated, which is a big issue.

[2019-12-07 13:25] jyn514 commented on #511
Duplicate of https://github.com/rust-lang/docs.rs/issues/503. Should be fixed by https://github.com/rust-lang/docs.rs/pull/508.

[2019-12-07 13:25] #511 closed

[2019-12-07 13:25] jyn514 commented on #512
Duplicate of https://github.com/rust-lang/docs.rs/issues/511.

[2019-12-07 13:25] #512 closed

[2019-12-07 15:09] jyn514 commented on #439
@dwrensha The change happened on our side, we switched the builder to use Rustwide: #407. https://docs.rs/crate/capnp-rpc/0.9.0/builds shows it was built before that switch.

I am not sure why capnp is missing, but there are instructions for debugging here: https://github.com/rust-lang/docs.rs/wiki/Making-changes-to-the-build-environment

[2019-12-07 15:12] jyn514 commented on #420
This may have been fixed in https://github.com/rust-lang/docs.rs/pull/487 ... If not the fix would be very similar

[2019-12-07 15:12] dwrensha commented on #439
Thanks!
Looks like the latest version succeeded, so I'm not going to worry about it.
https://docs.rs/capnp-rpc/0.11.0/capnp_rpc/

[2019-12-07 15:12] #439 closed

[2019-12-07 15:13] jyn514 commented on #412
See also #343

[2019-12-07 15:37] jyn514 opened #513 "Go to latest version breaks for /src/ when item was renamed"
I noticed this while investigating https://github.com/rust-lang/docs.rs/issues/357: any time you click 'Go To Latest' while viewing source code, it redirects to https://docs.rs/:crate/:version/src/:crate/?search=rs. This is clearly not desired behavior (it gives a 404).

Don't have time to debug right now but the relevant code is https://github.com/rust-lang/docs.rs/blob/d9d7a33fc4405c2385aff0200b

[2019-12-07 15:41] jyn514 commented on #357
@Lokathor  It looks like this is fixed in new versions of fermium, probably because of #407. Can you take a look at https://docs.rs/fermium/0.1.4/src/fermium/SDL2-v2.0.8-x86_64-pc-windows-msvc.rs.html#4692-4695 and make sure it looks about right?

[2019-12-07 15:43] jyn514 commented on #333
Closing as wontfix.

[2019-12-07 15:43] #333 closed

[2019-12-07 15:46] jyn514 commented on #284
Are you asking for a way to build docs from a local directory to make sure it works before publishing it? This was implemented in  #460.

[2019-12-07 15:49] jyn514 commented on #259
It looks like mundane is building successfully on https://docs.rs/crate/mundane/0.4.1, closing as wontfix (same rational as #333).

[2019-12-07 15:49] #259 closed

[2019-12-07 15:51] jyn514 commented on #206
This was implemented in #460.

[2019-12-07 15:51] #206 closed

[2019-12-07 15:52] jyn514 commented on #219
This was automated in #407 I think. It's certainly automated on master now.

[2019-12-07 15:52] #219 closed

[2019-12-07 15:54] jyn514 commented on #187
@dherman It looks like this is fixed on the latest version of winfolder, probably fixed by #407.

[2019-12-07 15:54] #187 closed

[2019-12-07 15:55] jyn514 commented on #190
@z2oh rebuilding automagically is #464

(also, hi Jeremy :laughing:)

[2019-12-07 16:00] Lokathor commented on #357
Well, that's correct, but probably because I have since stopped using bindgen on `docs.rs`. The file you linked is just permanently in the repo: https://github.com/Lokathor/fermium/blob/master/src/SDL2-v2.0.8-x86_64-pc-windows-msvc.rs

but i guess we can close this and someone else will report if it's still a problem later.

[2019-12-07 16:03] jyn514 commented on #357
I'd actually rather keep it open until I know it's fixed, sorry we took so long you found a workaround instead.

[2019-12-07 16:04] jyn514 commented on #179
Not sure what this error was originally about, but Vagrant is no longer used for builds. Feel free to open another issue if this happens with docker-compose.

[2019-12-07 16:04] #179 closed

[2019-12-07 16:06] jyn514 commented on #165
Closing as this has been fixed in rustdoc for a while now.

[2019-12-07 16:06] #165 closed

[2019-12-07 16:10] jyn514 commented on #133
@vks your first link is now working. Building documentation for binaries is #238 .

[2019-12-07 16:10] #133 closed

[2019-12-07 16:11] jyn514 commented on #190
Both 's' and '-' are fixed on the latest version.

[2019-12-07 16:11] #190 closed

[2019-12-07 16:13] jyn514 commented on #168
This seems to be fixed, I'm going to close it. Feel free to comment and I'll reopen if you're still having trouble.

[2019-12-07 16:13] #168 closed

[2019-12-07 16:18] jyn514 commented on #22
This is unlikely to be possible due to the number of Rust crates. Building published versions alone is a large undertaking, building every revision is just not feasible. If you have work-in-progress crates, you could publish a pre-release: https://semver.org/#spec-item-9

[2019-12-07 16:18] #22 closed

[2019-12-07 16:53] pickfire commented on #420
I think that probably have not fixed it (not tested) since https://docs.rs/tokio-macros/0.2.0-alpha.6/src/tokio_macros/lib.rs.html#48-120 will be https://docs.rs/crate/tokio-macros/0.2.0/source/src/lib.rs, not sure why backward-compatibility for docs.rs is broken, IIRC source was not there.

[2019-12-07 17:14] jyn514 commented on #420
Actually looking at the crate it's because `tokio-macros` [doesn't have documentation](https://docs.rs/crate/tokio-macros/0.2.0) (#422, should be fixed by #491). Do you have any other examples of broken links? If not I think this should be closed.

[2019-12-08 13:08] pickfire commented on #420
It does not have documentation but I mean the source link is broken, not the documentation link. See https://docs.rs/tokio/0.2.0-alpha.6/tokio/attr.main.html

[2019-12-08 13:11] pickfire commented on #413
Why do I get nightly compiler not found when running `docker-compose run web build crate ripgrep 11.0.2`?
[code]

[2019-12-08 13:44] pickfire commented on #360
If the docs are compressed locally, `rustup doc --std` probably needs some changes such as starting up a server instead of just opening the file, I think it affects search as well.

[2019-12-08 13:47] GuillaumeGomez commented on #360
It would indeed. Which is why we never did.

[2019-12-08 13:50] jyn514 commented on #413
@pickfire  I'm not sure. Do you get the same error when you run it again? When you ran `docker-compose run ... build` the first time, did it get a chance to install nightly or did you cancel it first? Or is this your first time running that command?

[2019-12-08 13:54] jyn514 commented on #420
I'm not quite sure what you're saying. That page links to https://docs.rs/tokio-macros/0.2.0-alpha.6/src/tokio_macros/lib.rs.html#48-120 which seems reasonable. What do you think it should link to?

[2019-12-08 13:58] jyn514 commented on #413
cc @pietroalbini , this is coming from https://github.com/rust-lang/docs.rs/blob/master/src/docbuilder/rustwide_builder.rs#L117 which doesn't show the output. I also wonder why rustwide returns a `rustc` that doesn't exist ... https://docs.rs/rustwide/0.3.2/src/rustwide/toolchain.rs.html#148-153

[2019-12-09 09:00] #503 closed

[2019-12-09 09:04] pietroalbini commented on #503
@MaulingMonkey deployed the fix and queued a rebuild for bugsalot 0.1.6! Let me know if there are other crates to rebuild.

[2019-12-09 09:09] pietroalbini commented on #413
@pickfire that's probably a messed up rustwide installation. Try running:

[code]

Note that the command will re-initialize rustwide, downloading everything (except the docker image) from scratch.

[2019-12-09 09:10] pietroalbini commented on #503
@MaulingMonkey it's live! https://docs.rs/bugsalot/0.1.6/bugsalot/

[2019-12-09 09:28] pietroalbini commented on #501
I will queue a rebuild once the image is ready.

[2019-12-09 09:37] pietroalbini commented on #449
Queued a rebuild for async-trait 0.1.21. Let me know if you want more versions to be rebuilt.

[2019-12-09 09:44] pietroalbini commented on #422
This has been deployed! Rebuilt [rstest](https://docs.rs/rstest) and [bae](https://docs.rs/bae). If other crates need to be rebuilt feel free to comment here.

[2019-12-09 13:07] jyn514 commented on #503
@pietroalbini can you also rebuild sysinfo 0.10.0?

cc @GuillaumeGomez , https://github.com/rust-lang/docs.rs/issues/511

[2019-12-09 13:11] jyn514 commented on #422
@pietroalbini can you also rebuild tokio-macros 0.2.0?

cc @pickfire , https://github.com/rust-lang/docs.rs/issues/420#issuecomment-562869349

[2019-12-09 13:25] pkgw commented on #206
Awesome, thanks!

[2019-12-09 13:41] pietroalbini commented on #422
Queued tokio-macros 0.2.0.

[2019-12-09 13:41] pietroalbini commented on #503
Queued sysinfo 0.10.0.

[2019-12-09 13:41] pickfire commented on #420
Yes, exactly. https://docs.rs/tokio-macros/0.2.0-alpha.6/src/tokio_macros/lib.rs.html#48-120 shows **the resource does not exist**.

[2019-12-09 13:44] pickfire commented on #360
@GuillaumeGomez The current possible solution may be minifying the html resource which can probably shave like ~5% off while keeping the same output without much changes. What do you think?

[2019-12-09 13:52] GuillaumeGomez commented on #360
If the web browsers can still work with local compressed files, then I'm totally going to add it.

[2019-12-09 14:29] pickfire commented on #413
@jyn514 @pietroalbini Nope, same error, rustc nightly could not be found.

[2019-12-09 15:31] pietroalbini commented on #501
Queued a build with the new Docker image.

[2019-12-09 15:36] pietroalbini commented on #501
And it's live :tada:

https://docs.rs/gpgme/0.9.1/gpgme/

[2019-12-09 15:36] #501 closed

[2019-12-09 16:50] jyn514 commented on #420
We're going in circles here.

If you go to [0.2.0](https://docs.rs/tokio-macros/0.2.0/src/tokio_macros/lib.rs.html#48-120) it works fine, pietro queued a rebuild and it's live.

[2019-12-09 16:54] jyn514 commented on #413
@pietroalbini  I'm not sure that `down --volumes` works for volumes that are mounted from a relative path.
@pickfire  pushing the code would be helpful, but could you try `rm -rf .rustwide-docker` in the meantime?

[2019-12-10 01:00] d-e-s-o commented on #449
`nitrokey-test` as well, please.

[2019-12-10 01:10] jyn514 commented on #449
@d-e-s-o  just queued it: https://docs.rs/releases/queue

[2019-12-10 11:53] CryZe opened #515 "Can't navigate sources from the source tab"
If you go to the source tab such as [here](https://docs.rs/crate/static_locks/0.1.0/source) all the files end up with `The requested resource does not exist`. This is because the URL is missing the `source/` in front of the navigated to file:

https://docs.rs/crate/static_locks/0.1.0/Cargo.toml
vs.
https://docs.rs/crate/static_locks/0.1.0/source/Cargo.toml

[2019-12-10 12:18] pietroalbini commented on #515
This was caused https://github.com/rust-lang/docs.rs/pull/514, pushed and deployed a commit to fix the issue. Sorry for the bug!

[2019-12-10 12:18] #515 closed

[2019-12-10 13:19] jyn514 commented on #504
Added in #507

[2019-12-10 13:19] #504 closed

[2019-12-10 14:41] pickfire commented on #413
@jyn514 Okay, I pushed to https://github.com/pickfire/docs.rs/commit/fa76b93daab79f94843366b7b261715f92061225 (not tested). I also tried `rm -rf .rustwide-docker` and have to wait for the build in the meantime.

[2019-12-10 19:30] jyn514 opened #516 "Link to last successful build when build fails"
I thought about this while investigating why https://docs.rs/crate/hyper/0.13.0 failed to build - the reason this usually matters to library authors is because new users/users upgrading see an error instead of the docs. If there _a_ version of the docs, even an out of date version, I imagine that would make the failures much less critical for library authors.

[2019-12-10 19:33] jyn514 commented on #516
I want to make it a link, not a redirect, so people know that it's an old version.

[2019-12-10 22:31] jyn514 commented on #413
This panics at startup: `web_1  | thread 'main' panicked at 'Duplicate route_id: crate_name_version_source_'`.

Let me know when you have rustwide working.

[2019-12-10 22:49] jyn514 commented on #51
cc #514, which blacklists crates with these names. As mentioned in https://github.com/rust-lang/docs.rs/pull/514#issuecomment-563388094, future internal routes will have a `/_/` prefix.

[2019-12-10 23:00] jyn514 commented on #516
Actually maybe this would be better served by implementing https://github.com/rust-lang/docs.rs/issues/341, https://github.com/rust-lang/docs.rs/issues/396 at the same time and just putting it in the 'Redirect to Latest Version' button at the top? 'Latest Version' is no longer an accurate description then ... 'latest successful stable version' is closer but way too verbose to put in a link.

[2019-12-11 00:11] jyn514 commented on #516
Actually maybe this would be better served by implementing https://github.com/rust-lang/docs.rs/issues/341, https://github.com/rust-lang/docs.rs/issues/396 at the same time and just putting it in the 'Redirect to Latest Version' button at the top? 'Latest Version' is no longer an accurate description then ... 'latest successful stable version' is closer but way too verbose to put in a link.

[2019-12-11 00:12] jyn514 commented on #516
Hmm ... but in this case I think people would want to know the latest version is released even if there's no docs. I think separate links is fine.

Relevant code: https://github.com/rust-lang/docs.rs/blob/master/templates/crate_details.hbs#L65

[2019-12-11 02:20] pickfire commented on #413
Now I get a different error.
[code]

[2019-12-11 02:27] jyn514 commented on #413
@pickfire could you join the Discord channel so we're not spamming this issue? `docs-rs` on https://discord.gg/rust-lang.

[2019-12-12 05:33] jyn514 opened #517 "panic when releases.files is NULL"
Caught this from looking through the logs on the build server: https://docs.rs/crate/rips/0.2.0/source/ gives a 500 when you visit it. The build for `rips` failed, maybe that's why the files are NULL?

Backtrace:

[code]

Note for maintainers: to find other crates with this issue, run this psql command on the server:

`SELECT releases.target_name, releases.version FROM releases WHERE releases.file

[2019-12-12 17:34] jyn514 commented on #517
It looks like this happens whenever the build fails.

[2019-12-12 18:03] jyn514 commented on #517
Relevant code: https://github.com/rust-lang/docs.rs/blob/master/src/web/source.rs#L107

[2019-12-12 20:24] jyn514 commented on #517
Hmm ... I worked around this by returning `None` in the linked code, which avoids the panic, but the rendered page is still mostly blank :(

![mostly-blank_1920x1080](https://user-images.githubusercontent.com/23638587/70746155-6710b400-1cf3-11ea-9f0f-35c02843e8c7.png)

[2019-12-12 20:33] jyn514 commented on #517
I turned it into a 404 instead, at least we're giving _an_ error message now.

[2019-12-13 13:54] pietroalbini opened #520 ""Source" tab is shown even when no source is present"
https://github.com/rust-lang/docs.rs/pull/519 fixed a panic happening when visiting a crate's source page when no source was available (due to a build failure), by showing a 404 page instead.

Still, the link to the source tab is unconditionally present in the navbar, even when we know it will lead to a 404 page. We should fix this by hiding the link in those cases.

[2019-12-13 16:02] slightlyoutofphase opened #521 "The "source" tab currently redirects to the "requested resource does not exist" page for every single crate"
For example, here is the page for the [latest version of rand.](https://docs.rs/crate/rand/0.7.2/source/)
And for [my own crate StaticVec.](https://docs.rs/crate/staticvec/0.6.4/source/)

This appears to be a universal issue, unrelated to build failures.

[2019-12-13 16:08] pietroalbini commented on #521
Ugh, when I reviewed this locally I checked the single file showing but forgot the directory listing `:/`
Reverting.

cc @jyn514

[2019-12-13 16:51] jyn514 commented on #517
Reopening because of #521

[2019-12-14 15:06] XAMPPRocky opened #522 "Can only test build environment on Linux"
The [current instructions in the wiki](https://github.com/rust-lang/docs.rs/wiki/Making-changes-to-the-build-environment) for building and testing additonal packages to the build environment do not work on macOS for two distinct reasons.

* `realpath` is not available on macOS by default. This is fixable with `brew install coreutils`
* The current instructions mount your rust installation and usin

[2019-12-15 03:37] jyn514 commented on #522
Do you mind volunteering your time to test this solution?

[code]

[2019-12-15 09:23] #483 closed

[2019-12-15 09:24] jyn514 commented on #483
This is waiting for the new docker image to be uploaded; after that's finished I can queue a rebuild.

[2019-12-15 21:51] jyn514 commented on #517
While fixing this, I noticed that using the current master branch, binaries do _not_ have their source code saved into the database. However, if I go to e.g. https://docs.rs/crate/bat/0.12.1/source/ all the code is there. Maybe the builder got changed at some point? If so I think it makes more sense to store the code in the DB even for binaries than to special case the error handling if it's not t

[2019-12-16 04:11] jmjoy opened #525 "phper-sys needs php-src header files."
**Crate name:**
phper-sys 0.0.1

**Build failure link:**
https://docs.rs/crate/phper-sys/0.0.1/builds/205828

**Why your crate needs the resource increases:**
`phper-sys` generate rust source code via `bindgen` and needs php header files and `php-config`, the required ubuntu package is `php7.1-cli`.

[2019-12-16 09:14] pietroalbini commented on #517
Not sure if I see the point of storing the source code for binaries... people shouldn't look on docs.rs for them.

[2019-12-16 13:23] jyn514 commented on #517
Ok, in that case I made a PR to fix the panic.

[2019-12-16 14:59] XAMPPRocky commented on #522
These did not work, I ran the below in the directory for the crate and received the following output.

[code]

[2019-12-18 09:14] pravic commented on #503
Do we need to republish the affected crates or docs.rs will rebuild them by itself?

[2019-12-18 09:20] pietroalbini commented on #503
@pravic if you tell me the names and versions to rebuild I'll manually queue them.

[2019-12-18 13:03] pravic commented on #503
@pietroalbini https://docs.rs/crate/sciter-rs/0.5.46, https://docs.rs/crate/sciter-rs/0.5.47.

But it would be better to rebuild all affected crates - not everybody has noticed this bug, but those crates are broken anyway.

[2019-12-18 13:10] pietroalbini commented on #503
@pravic rebuilt those crates:

* https://docs.rs/sciter-rs/0.5.46
* https://docs.rs/sciter-rs/0.5.47

Unfortunately it's not trivial to detect which crates were affected automatically and I don't have the time to write an automation to list them.

[2019-12-18 13:20] jyn514 commented on #503
@pravic  rebuilding automagically is #464

[2019-12-18 15:32] CryZe opened #527 "HTTP Status 410 Gone for the glue crate"
I just found this crate and docs.rs is acting very weird for all versions of it https://docs.rs/glue/0.1.1/glue/

and if you don't specify a version https://docs.rs/glue

[2019-12-18 15:48] pietroalbini commented on #527
The crate was removed from the website, this is expected behavior.

[2019-12-18 15:48] #527 closed

[2019-12-18 15:53] CryZe commented on #527
Maybe the error message could be improved? This looks like some internal nginx error and not some expected behavior where the crate is not available anymore.

[2019-12-18 15:59] carols10cents opened #528 "Enable removal/access restriction for specific versions of a crate, rather than the entire crate"
Currently, [the way to remove crates](https://github.com/rust-lang/crates-io-cargo-teams/blob/master/docs/crate-removal-procedure.md#remove-relevant-versions-andor-entire-crates-from-docsrs) is to edit the nginx file and block the whole crate:

[code]

There are reasons for needing to take down some versions and not others, so docs.rs needs a way to do that.

Could it be as simple as doing this in

[2019-12-18 16:00] pietroalbini commented on #527
Yeah, I'm working on a way to do that.

[2019-12-18 16:02] pietroalbini commented on #528
I'm working on a command like this:

[code]

...which properly removes the crate from the database and from S3, so the nginx stuff isn't required anymore.

[2019-12-19 02:43] jyn514 commented on #483
This is built!

[2019-12-19 03:09] jyn514 commented on #522
Ah right, it's still trying to use the default version in `bin/cargo`. One last try?

[code]

If this doesn't work we probably won't be able to use the host toolchain at all and I'll have to set up _another_ intermediary docker container :(

[2019-12-19 10:35] elichai commented on #440
@dtolnay I don't think this is an issue with docs.rs.
https://github.com/alexcrichton/proc-macro2/pull/207

[2019-12-19 21:52] jyn514 opened #530 "Don't make calls to the database in for loops"
This is a low-priority issue, we should fix #379 and #343 first.

This came up while reviewing #529. Offenders:

- [`add_owners_into_database`](https://github.com/rust-lang/docs.rs/blob/master/src/db/add_package.rs#L415)
- [`add_package_into_database`](https://github.com/rust-lang/docs.rs/blob/master/src/db/add_package.rs#L160) (not the same but related)
- [`add_keywords_into_database`](https://gi

[2019-12-20 20:55] alexanderkjall opened #531 "`ripasso` crate build failed"
**Crate name:**
ripasso

**Build failure link:**
https://docs.rs/crate/ripasso/0.3.0/builds/202407

**Additional details:**
I think the dependencies should have been added by this PR, but I can't find a way to trigger a rebuild: https://github.com/rust-lang/crates-build-env/pull/23

[2019-12-20 21:07] jyn514 commented on #531
There is not a way for library owners to queue a rebuild, see https://github.com/rust-lang/docs.rs/issues/301#issuecomment-558256524 for why this is hard. I'll queue a rebuild now and see if that helps.

[2019-12-20 21:21] jyn514 commented on #531
Queued and built! https://docs.rs/ripasso/0.3.0/ripasso/

[2019-12-20 21:21] #531 closed

[2019-12-21 03:48] jyn514 commented on #525
@jmjoy no obligation, but this would get fixed faster if you're willing to make a PR to crates-build-env :) instructions here: https://github.com/rust-lang/docs.rs/wiki/Making-changes-to-the-build-environment

[2019-12-21 03:51] jyn514 commented on #479
@1wilkens no obligation, but this would get fixed faster if you're willing to make a PR to crates-build-env :) instructions here: https://github.com/rust-lang/docs.rs/wiki/Making-changes-to-the-build-environment

[2019-12-21 03:52] jyn514 commented on #473
@krruzic no obligation, but this would get fixed faster if you're willing to make a PR to crates-build-env :) instructions here: https://github.com/rust-lang/docs.rs/wiki/Making-changes-to-the-build-environment

[2019-12-21 03:54] jyn514 commented on #446
Possibly related to https://github.com/rust-lang/docs.rs/issues/395.

[2019-12-21 03:57] jyn514 commented on #444
@jonathanpallant if bindgen is not packaged on Ubuntu 18.04, it is unlikely this can be fixed. We use https://github.com/rust-lang/crates-build-env for the build environment and it only installs dependencies that are packaged.

[2019-12-21 06:23] jmjoy commented on #525
Thanks!

[2019-12-21 10:45] thejpster commented on #444
(swapped to my personal account)

Hmm, that makes sense. It's packaged for 19.04 - https://packages.ubuntu.com/disco/bindgen.

I assume there's no mechanism to `cargo install` something?

[2019-12-21 13:02] jyn514 commented on #444
Ok, in that case we can add it when 20.04 gets released in a few months.

No, because the build environment doesn't have a Rust toolchain installed.

[2019-12-21 13:14] jyn514 commented on #525
I'd like to keep this open until we rebuild the crate, it doesn't rebuild automatically.

[2019-12-21 23:04] jyn514 commented on #141
I'm actually hoping to go the other way and _only_ build one target unless requested otherwise, see https://github.com/rust-lang/docs.rs/pull/532.

Would setting `default-target` to `x86_64-apple-darwin` fix your problem?

[2019-12-21 23:58] jyn514 commented on #399
Hello and sorry for the long wait. The available platforms are unfortunately not currently documented, I've listed them below:

-  x86_64-unknown-linux-gnu
- x86_64-apple-darwin
- x86_64-pc-windows-msvc
- i686-unknown-linux-gnu
- i686-apple-darwin
- i686-pc-windows-msvc

The output you're seeing is for the default target, x86_64-unknown-linux-gnu. I am actually not sure how to access build logs fr

[2019-12-22 02:58] jrmuizel commented on #141
Yes. I think that should work.

[2019-12-22 03:01] #141 closed

[2019-12-22 15:32] jyn514 commented on #525
Whoops, I [rebuilt 0.0.1](https://docs.rs/crate/phper-sys/0.0.1/builds) instead of 0.1.0, that's rebuilding now.

[2019-12-22 15:32] #525 closed

[2019-12-26 17:54] RalfJung opened #535 "Bad source view for some crates"
https://docs.rs/optional/0.5.0/optional/struct.Optioned.html links to https://docs.rs/optional/0.5.0/src/optional/lib.rs.html#1358-1361 which looks like a broken page: the line numbers come first, and then way below the actual code is shown.

[2019-12-26 18:44] jyn514 commented on #535
Hmm, that looks like a CSS issue, but it's a page generated by rustdoc ... Do you have the same problem when running `cargo doc` locally?

[2019-12-26 18:46] RalfJung commented on #535
I think rustdoc used to have a bug that looked exactly like this. Is it possible that docs.rs generated this page with an old rustdoc and still ships it like that?

[2019-12-26 18:47] RalfJung commented on #535
Here's the rustdoc bug: https://github.com/rust-lang/rust/issues/56720

[2019-12-26 18:48] jyn514 commented on #535
Yes, that's the issue exactly, the last build was in November 2018: https://docs.rs/crate/optional/0.5.0/builds.

Closing as duplicate of #464.

[2019-12-26 18:48] #535 closed

[2019-12-27 00:22] sdegutis commented on #174
Dash support for docs.rs would be extremely useful. What's the status on this? Is there anything I can do to help get this to happen?

In the meantime I'm going to look into using that wget trick to download docs for individual Rust packages, if I can find it again (the one with like 10 lines worth of flags).

[2019-12-27 12:39] pietroalbini opened #536 "Add support for blacklisting crates"
Some of the crates on docs.rs are blacklisted for legal reasons, but are still up on crates.io. Before #529 was merged we disabled them globally by blocking the route in nginx, but I'd like to move away from that model.

Deleting the old content is already covered by the `delete-crate` command, but even with that new releases would still be published. We need to add a `blacklisted_crates` table co

[2019-12-27 12:39] jyn514 commented on #517
Fixed in #526

[2019-12-27 12:39] #517 closed

[2019-12-27 13:38] pietroalbini commented on #536
Here are some mentoring instructions for this issue!

1. A new database migration should be added [here][db-migrate], creating the database table.
2. [In the build process][build-package], use [the connection][connect-db] to query the table you just created, and return an error if the crate we're trying to build is blacklisted.
3. Add the commands `cratesfyi blacklist add CRATE` and `cratesfyi bla

[2019-12-27 14:38] jyn514 commented on #513
I can't reproduce this bug :laughing:

[2019-12-27 14:41] jyn514 commented on #513
Ok it turns out the bug is much more limited than I thought which is good - it's only if the item was renamed or deleted. Test case: https://docs.rs/pyo3/0.2.7/src/pyo3/objects/exc.rs.html

[2019-12-27 14:59] jyn514 commented on #513
Mentoring instructions:

This only requires changing [the frontend](https://github.com/rust-lang/docs.rs/blob/master/src/web/rustdoc.rs#L300).

1. Check [here](https://github.com/rust-lang/docs.rs/blob/master/src/web/rustdoc.rs#L314) if the 3rd part of the URL is `src`; if so, don't add it to `crate_root`.
2. Currently, we unconditionally search for the 2nd part of the filename, which for source f

[2019-12-27 15:16] jyn514 commented on #535
@RalfJung I rebuilt optional, so it should work for this specific crate. Other crates built around the same time will still have the same bug, though.

[2019-12-27 15:19] jyn514 commented on #506
@rodrimati1992 I rebuilt your crate manually, but it failed with a different ICE! Sorry for the trouble haha, here's the new error if you want to file a bug: https://docs.rs/crate/abi_stable/0.8.1/builds/208296

[2019-12-27 16:08] koenaad commented on #536
Hi @pietroalbini, thank you for the clear instructions! I would like to work on this.

[2019-12-27 16:20] rodrimati1992 commented on #506
This ICE has already been reported for servo in https://github.com/rust-lang/rust/issues/67601 .

[2019-12-27 22:59] krruzic commented on #473
I'll see what I can do if I get a chance. Thanks for the response :)

[2019-12-27 23:04] jyn514 commented on #473
I just read your comment above more thoroughly -

That build happened in September, we had a big change to the build environment in early October: #407

[2019-12-28 15:08] koenaad commented on #536
I have a question about how the filtering / blacklisting should function: if I understand this issue correctly, we want to prevent new versions of a known 'bad' crate to be built and added to doc.rs.

Q's:
- could there be a case in which only certain versions of a 'bad' crate are blocked and other not?
- do we want to be able to specify a version after which builds are stopped? I.e., "all version

[2019-12-28 17:35] jyn514 commented on #528
@pietroalbini delete-crate was a good first step, but I think it only allowed removing the entire crate, not a specific version.  I think this issue should be kept open until we add that functionality.

[2019-12-30 21:34] ProgVal opened #542 ""Could not resolve host: github.com""
**Crate name:** fcp_cryptoauth
**Build failure link:** https://docs.rs/crate/fcp_cryptoauth/0.3.0/builds/208947

**Additional details:** It looks like a temporary issue. Could you trigger a rebuild of the crate's doc? Thanks!

[2019-12-30 23:38] jyn514 commented on #542
This is not a temporary issue, access to the network is blocked in the sandbox environment. It looks like the crate trying to access GitHub is `rust_sodium-sys`, I would recommend reaching out to them to see why they need internet access.

[2019-12-31 00:23] ProgVal commented on #542
Ok. This is apparently a known issue, I pinged them about it: https://github.com/maidsafe/rust_sodium/issues/102

[2019-12-31 00:33] jyn514 commented on #542
Note that we do have `libsodium` installed in the build environment, but it's not version 1.0.17 like rust_sodium seems to require: https://github.com/maidsafe/rust_sodium#to-use-your-own-copy-of-libsodium

[2019-12-31 02:52] jyn514 commented on #516
The way to get started with this would be to
- find the last successful build from the database (something like `SELECT version FROM releases INNER JOIN crates ON releases.crate_id = crates.id WHERE build_status = true AND yanked = false AND crates.name = $1;`)
- add the last successful build to [the variables for the page](https://github.com/rust-lang/docs.rs/blob/master/src/web/crate_details.rs#

[2019-12-31 03:00] jyn514 commented on #484
@slightlyoutofphase this page is generated by rustdoc, not by docs.rs. Do you have the same problem when running `cargo doc` locally?

[2019-12-31 03:08] jyn514 commented on #536
Closed in #539

[2019-12-31 03:08] #536 closed

[2020-01-02 02:29] koenaad commented on #516
Hi, I would like to work on this :wave: Can you assign me? 🙂

[2020-01-02 14:00] 1wilkens commented on #479
Ah sorry I totally missed that. Will do as soon as I have the time! Thanks for the pointer!

[2020-01-02 14:38] 1wilkens commented on #479
PR is up: https://github.com/rust-lang/crates-build-env/pull/28

[2020-01-02 17:31] koenaad commented on #516
I did some analysis, just to make sure I'm changing the right things 😉

So the main issue: if the build of a release of a crate fails, a user should be able to find the most recent **successful** build fairly simple.
Currently we often link to the latest release which isn't necessary a successful build.

There a two places this causes a problem:

### Crate details page

If a build failed (for exam

[2020-01-02 19:41] jyn514 commented on #516
Yes, and moreover _usually_ it's the latest release which failed a build (at least if the user sees the message at all).

Yes, that's about what I was imagining.

That would be really great! I hadn't though of that :)

I am not opposed to fixing this, but there are many issues with the current 'latest version' calculation and I think that would be better as a separate PR. See #396, #502, #223, #34

[2020-01-02 19:42] jyn514 commented on #516
So in other words, 1. and 2. are very welcome but it may be better to hold off on 3. for a while.

[2020-01-02 21:02] jyn514 commented on #542
@ProgVal I'm going to close this issue since it's not a bug in docs.rs.

[2020-01-02 21:02] #542 closed

[2020-01-03 02:43] koenaad commented on #516
Agree, I'll focus on crate details for now.

I have been able to add the link to the last successful build. Just not sure how to add it to the UI...

The current error message looks like this:
<img width="935" alt="Screenshot 2020-01-02 at 17 53 19" src="https://user-images.githubusercontent.com/7748404/71704387-6c38be80-2dda-11ea-9782-89e95e45f667.png">

I can add the link "inline":
<img width="9

[2020-01-03 03:04] jyn514 commented on #516
I don't have a strong opinion either way. @GuillaumeGomez you do more of the CSS/styling, do you have a preference?

[2020-01-03 13:23] pietroalbini commented on #516
I prefer the separate box myself.

[2020-01-04 04:08] jyn514 opened #544 "Remove duplicate `crates.version` column"
Reported by @koenaad:

The table releases contains the releases per crate and also has a column version. So the same information can be retrieved by doing a join between crates and releases. Something like this:

[code]

There's no sense in storing duplicate data in postgres, so I'd like to see the `crates.version` column removed eventually.

[2020-01-04 04:09] jyn514 commented on #479
Just rebuilt 1.0.0-alpha, your docs are up! https://docs.rs/pam-sys/1.0.0-alpha1/pam_sys/

[2020-01-04 04:09] #479 closed

[2020-01-04 09:54] koenaad commented on #544
I can remove the use of `crates.versions` in `crate_details.rs` (https://github.com/rust-lang/docs.rs/blob/master/src/web/crate_details.rs#L114) when implementing the 2nd change of https://github.com/rust-lang/docs.rs/issues/516#issuecomment-570279786

[2020-01-04 12:49] jyn514 commented on #544
I would rather separate feature PRs from refactoring PRs. Our test suite still isn't as good as I'd like and smaller PRs makes it easier to rollback commits. This is especially true for the SQL queries which are mostly not type checked, if you delete `crates.version` there will be no compile errors but the site may panic at runtime.

[2020-01-04 12:52] jyn514 commented on #544
See https://github.com/rust-lang/docs.rs/pull/466 for an example of a PR that passed all tests but still crashed the site.

[2020-01-04 14:33] D1mon opened #545 "How to make fields displayed? (fields omitted)"
I want the fields to be displayed. I do not want to open [src] in layers to see the fields. There is no option in the settings for displaying structure fields. Add the ability to enable / disable structure fields.

[2020-01-04 14:37] jyn514 commented on #545
This is an issue with rustdoc, not with docs.rs. Can you open this issue in https://github.com/rust-lang/rust instead?

[2020-01-04 22:14] koenaad commented on #516
I've submitted two pull requests related to this issue: #543 and #546.

Take your time checking them. After they have been vetted and merged, a refactor of `crate_details.rs` might be in order.

[2020-01-06 09:10] FranklinYu opened #547 "Button in dark theme has dark text"
This is a styling issue of dark theme. Currently it’s:

![image](https://user-images.githubusercontent.com/3153452/71807745-d9d62c00-3020-11ea-92a5-d903a7d0348b.png)

The two buttons should be light color in dark background. Following style is recommended:

[code]

Color came from button border. I didn’t make a Pull Request because I can’t find the dark style in this repository. Recommended label:

[2020-01-06 09:11] GuillaumeGomez commented on #547
This is a fixed bug in rustdoc. This crate certainly has been generated some time ago with an older version.

[2020-01-06 12:38] jyn514 commented on #547
Duplicate of #464

[2020-01-06 22:25] pemistahl opened #548 "Crate `grex` did not build"
**Crate name:** grex
**Build failure link:** https://docs.rs/crate/grex/0.3.1/builds/210840

**Additional details:**
The problem is dependent crate `matrixmultiply v0.2.3`.
The error is `array lengths can't depend on generic parameters`.
This bug has been reported already in [bluss/matrixmultiply#50](https://github.com/bluss/matrixmultiply/issues/50).
Seems to be a problem with the current Rust ni

[2020-01-07 00:03] jyn514 commented on #548
Ping me when this gets fixed upstream and I can manually schedule a rebuild. This is hard to fix in general, see #464 and #506

[2020-01-07 06:05] pemistahl commented on #548
I'll do. It is really unfortunate that you cannot use an older nightly or stable Rust for building the docs. This would solve the problem instantly.

[2020-01-07 09:02] pietroalbini commented on #548
Using stable is unfortunately not possible, as docs.rs uses (a lot of) unstable features to build documentation. Using another nightly is... doable, but complicated :(

[2020-01-07 13:16] jyn514 commented on #440
This was fixed in https://github.com/rust-lang/docs.rs/pull/491, 1.0.7 is live: https://docs.rs/crate/proc-macro2/1.0.7

[2020-01-07 13:16] #440 closed

[2020-01-07 15:21] jyn514 opened #549 "Remove unnecessary redirect"
Once https://github.com/rust-lang/docs.rs/pull/534 gets merged, the 'Platform' dropdown will link to the default build /:crate/:version/:platform, which will immediately redirect to /:crate/:version. It would be nice to link to /:crate/:version directly for the default platform.

[2020-01-07 15:24] jyn514 commented on #549
Here's some half-working code (goes in `src/web/rustdoc.rs`):

[code]

[2020-01-07 15:30] jyn514 commented on #549
To implement this:

1. Add a `target_links` field to [`CrateDetails`](https://github.com/rust-lang/docs.rs/blob/2b9f981b7043ee41c261a1ead8954b19f60e811f/src/web/crate_details.rs#L22)
2. [Fill out that field](https://github.com/rust-lang/docs.rs/blob/2b9f981b7043ee41c261a1ead8954b19f60e811f/src/web/crate_details.rs#L96) using the code above.
3. Use those links [in the template](https://github.com/r

[2020-01-08 01:56] jyn514 opened #551 "[meta] add more tests"
Most of these are partially addressed in https://github.com/rust-lang/docs.rs/pull/524https://github.com/rust-lang/docs.rs/pull/524, but it would be better to have unit tests.

Off the top of my head:

- proc macros should work (but only for default target because of bugs in cargo)
- all targets are built
- anything that's not bin is built, including cdylib, rlib, etc.
- viewing source works
- bui

[2020-01-08 02:14] jyn514 opened #552 "Panic in `path_for_latest`"
This is coming from https://github.com/rust-lang/docs.rs/blob/master/src/web/rustdoc.rs#L312.

Somehow, there's a case where `req_path` has a `module` that's not the same as `target_name`, but also not a target. Maybe a renamed crate?

This is all the information I have from the logs:

<details><summary>backtrace</summary>

[code]

</details>

[2020-01-08 02:15] jyn514 commented on #552
That makes sense actually ... a renamed crate that fails to build in the latest version would cause this I think. Now to find a renamed crate that fails to build ^^

[2020-01-08 02:21] jyn514 commented on #552
What I've come up with so far:

[code]

[2020-01-08 03:05] jyn514 commented on #552
Well, my guess seems to be wrong. I tried `FPS 0.0.1` (succeeded) and `FPS 0.0.3` (failed) (renamed FPS -> fps), but there's no panic.

[2020-01-08 03:05] jyn514 commented on #552
Got it! There's a `settings.html` page :)

[2020-01-08 05:55] MaulingMonkey opened #554 ""Versions" dropdown no longer populated."
This seems to be missing in every crate I've checked so far - both those recently updated and those that haven't updated in awhile.  No console errors, DOM doesn't appear to be populated, occurs in both Chrome (including with adblock disabled) and FireFox (which I don't have adblock installed for at all) on multiple computers.

### Example: https://docs.rs/lazy_static/1.4.0/lazy_static/
![image](h

[2020-01-08 07:10] eldesh opened #555 "docs.rs should ignore rust-toolchain"
dockworker which is a docker client library.
Building this crate failed on docs.rs :(

**Crate name:**
dockworker

**Build failure link:**
https://docs.rs/crate/dockworker/0.0.15

**Additional details:**
On my local machine (Ubuntu 18.04 LTS), building succeeds.

[2020-01-08 08:50] pietroalbini commented on #555
Seems like the `rust-toolchain` in the source code is present, asking rustup to install 1.32.0 instead of the nightly used by docs.rs. This is not your crate's fault, docs.rs should remove that file.

Writing mentoring instructions if anyone wants to fix this issue:

---

To fix this issue, a new [prepare step](https://github.com/rust-lang/rustwide/blob/b6a88935d521637a9d182c766aa7bef04a1a5815/src

[2020-01-08 12:38] jyn514 commented on #554
Probably because of https://github.com/rust-lang/docs.rs/pull/546. cc @koenaad

[2020-01-08 12:43] jyn514 commented on #554
Looks like the template is referring directly to `versions`, but we changed that field to `releases`.

https://github.com/rust-lang/docs.rs/blob/master/templates/navigation_rustdoc.hbs#L76

[2020-01-08 13:36] #554 closed

[2020-01-08 22:46] koenaad commented on #516
With #543 and #546 merged, I think this issue can be closed?

I think the following refactorings in crate_details.rs would be good as well, but I'm not sure if we should pursue them now or wait until we feel more comfortable with the codebase.

I wouldn't mind adding some tests and making a PR for this.

Possible refactorings:

- In `CrateDetails::new`: the population of the `CrateDetails::release

[2020-01-08 23:39] jyn514 commented on #516
I'm fine with making `latest_version` a member function. However, I don't see a way to avoid converting to semver::Version and back: we _need_ that conversion to order the versions by semver and not just release date.

I'm also not sure I understand the rationale for a separate crate_details_page. I know having fields for the templates unchecked by the compiler is not ideal, but I don't see how ma

[2020-01-09 00:36] koenaad commented on #516
I'll put a PR together in the next few days.

I think this could be avoided by either:
- ensuring that `releases` is already sorted during creation (this is already the case I think), so `latest_version` doesn't have to sort the Vec again.
- we could store the version as `semver::Version` instead of `String`, this would avoid doing the conversion until it is really necessary

This wouldn't do anyt

[2020-01-09 13:30] saskenuba commented on #145
Any updates on this?

[2020-01-09 13:46] jyn514 commented on #145
The problem with this is it will greatly increase our storage requirements. I don't have hard numbers, but we currently store about 3 TB of docs on S3. If we stored a compressed archive, I expect that to easily go up to 3.5. These storage costs are in perpetuity; we can't get rid of old versions because people are still using them.

Actually creating the archive is relativity cheap compared to the

[2020-01-09 13:51] jyn514 commented on #145
Also note that it's not really feasible to store _only_ the compressed archive because we would have to download the whole thing from S3 anytime someone visited a page for the crate+version. For large crates like winapi, that would greatly increase our egress costs.

[2020-01-09 13:56] jyn514 commented on #145
Whoops, it looks like all this has been said before. Closing as duplicate of https://github.com/rust-lang/docs.rs/issues/174

[2020-01-09 13:56] #145 closed

[2020-01-09 13:56] jyn514 commented on #88
Duplicate of https://github.com/rust-lang/docs.rs/issues/174

[2020-01-09 13:56] #88 closed

[2020-01-09 14:02] jyn514 commented on #145
Correction: egress is free, but downloading the entire archive would kill our response time for single pages.

[2020-01-09 14:27] jyn514 commented on #174
@nhynes this is out of scope for docs.rs, we only build user documentation. I'm not sure the right place to open a new issue, maybe https://github.com/rust-lang/www.rust-lang.org/issues ?

[2020-01-09 14:39] jyn514 commented on #174
We discussed this internally and this probably won't see action at least until Rust All Hands in March.

Personally, I would like to see #379 implemented and #532 merged before we make any decisions, which would let us see how much storage we'll be using the future.

[2020-01-10 01:58] koenaad commented on #516
I think this issue can be closed @jyn514. I will probably do one more small refactor PR tomorrow (similar to #559). The other stuff isn't really worth it cause there are bigger fish to fry.

[2020-01-10 03:47] #516 closed

[2020-01-10 13:07] jyn514 commented on #226
This was added in https://github.com/rust-lang/docs.rs/pull/543 :) You can see it in action on e.g. https://docs.rs/crate/actix-web/0.7.2.

[2020-01-10 13:07] #226 closed

[2020-01-10 13:09] jyn514 commented on #201
Duplicate of https://github.com/rust-lang/docs.rs/issues/223

[2020-01-10 13:09] #201 closed

[2020-01-10 13:10] jyn514 commented on #341
Duplicate of #223

[2020-01-10 13:10] #341 closed

[2020-01-10 13:18] jyn514 commented on #395
Reproducible crate: https://docs.rs/zstd/0.5.1+zstd.1.4.4/zstd/

BTW @repi  the [build failure](https://docs.rs/crate/physx-sys/0.2.3+4.1.1/builds/199433) for your 2.0 versions is because cmake is trying to write to the source directory, we added more sandboxing in #407. If you write to the target directory instead (cargo sets OUT_DIR), it should work.

[2020-01-10 13:27] jyn514 commented on #395
A secondary problem: if _any_ version is not a valid semver range, _all_ versions are marked as being invalid: https://github.com/rust-lang/docs.rs/blob/master/src/web/mod.rs#L267

[2020-01-11 00:19] jyn514 opened #561 "Website does not show if a crate has been yanked"
e.g. https://docs.rs/actix-web/0.7.10 looks like a normal release while https://crates.io/crates/actix-web/0.7.10 shows that it's been yanked.

[2020-01-11 00:20] jyn514 commented on #561
I think the proper thing to do here is to treat is like a failed build: redirect to `/crate/:crate/:version` and put a big warning that says it's been yanked, along with a link to the most recent successful version.

[2020-01-11 12:36] rubberduck203 opened #563 "Add support for more targets"
**Crate name:** stm32f3-discovery
**Build failure link:** https://docs.rs/crate/stm32f3-discovery/0.1.2/builds/212158

**Additional details:**

Crates targeting ARM Cortex-M processors fail to build because docs.rs currently doesn't support the `thumbv*` targets.

This can be worked around by setting the default target to `x86_64-unknown-linux-gnu` per https://github.com/stm32-rs/stm32f3xx-hal/iss

[2020-01-11 12:49] Disasm commented on #563
Earlier docs were built with the explicit `--target x86_64-unknown-linux-gnu` parameter and now this parameter is not passed. For some projects like embedded ones, cargo takes target from `.cargo/config` and it happens to be different from `x86_64-unknown-linux-gnu` and not installed.

[2020-01-11 14:19] jyn514 commented on #563
@Disasm We [stopped passing `--target`](https://github.com/rust-lang/docs.rs/pull/491) because [it broke proc-macros](https://github.com/rust-lang/docs.rs/issues/422), it's unrelated to #343.

Thanks for pointing out .cargo/config, I wouldn't have noticed that. Would ignoring configuration in .cargo/config solve your issue? Or does your crate sometimes depend on that config to build?

[2020-01-11 14:27] jyn514 commented on #563
Also I suppose this is as good a place as any to talk about additional targets. I would like to support more targets, but it requires some significant refactors on our ends. Adapted from a chat I had on Discord:

Targets are currently a little complicated. We have 5 targets that we build which are only documented [here](https://github.com/rust-lang/docs.rs/issues/399#issuecomment-568221002). These

[2020-01-11 17:49] rubberduck203 commented on #563
Just to clarify, you mean anything that could be `rustup target add`-ed? I think that’s very reasonable. Once I’ve added the `thumbv7em-none-eabihf` target, I can run `cargo doc` locally without issue.

[2020-01-11 17:50] jyn514 commented on #563
Yes, that's right. Ok great, in that case this is definitely doing, it's just going to be a while (at least a month, probably closer to 3). Watch #550 and #532 if you're interested :)

[2020-01-13 12:40] CreepySkeleton commented on #422
Could you please also rebuild `getset` 0.0.9?

[2020-01-13 12:47] pietroalbini commented on #422
Queued.

[2020-01-13 16:28] gilescope opened #564 "Checkbox to hide unstable things?"
It would be great on the docs if there was a checkbox to hide nightly only methods in the generated documentation.
That gives us less methods to wade through to find the one we're after potentially, and may encourage people to pick stable methods by preference.

Apologies if this is the wrong repo for this request?

[2020-01-13 16:31] GuillaumeGomez commented on #564
I guess this is the good one. So if I follow correctly: you'd like an option somewhere to be able to hide nightly methods right? Which means that we can't generate both versions, that'd double the size. Therefore, we can do it using JS I guess. To be debated to check if we want more JS.

[2020-01-13 16:51] gilescope commented on #564
I think if all the nightly stuff is a certain css class then a checkbox can
toggle visibility of that class...

On Mon, 13 Jan 2020 at 16:31, Guillaume Gomez <notifications@github.com>
wrote:

[2020-01-13 16:58] jyn514 commented on #564
@GuillaumeGomez can you transfer to rust-lang/rust since this is a feature request for rustdoc?

[2020-01-13 23:13] udoprog commented on #223
If like to boost the signal in this a bit. It's causing a bit of a yanking party in tokio-rs/tokio#2036

[2020-01-13 23:29] jyn514 commented on #223
@Nemo157 the test crate makes this much faster to debug, thanks :)

[2020-01-13 23:40] jyn514 commented on #223
I'm going to try and also fix #221 at the same time.

[2020-01-14 00:29] jyn514 commented on #223
This is mostly fixed, I'm just trying to solve https://github.com/rust-lang/docs.rs/issues/395 at the same time. If I don't get it in the next half hour or so I'll just make a PR without.

[2020-01-14 00:31] jyn514 commented on #395
@arirawr it turns out this _isn't_ a problem in `match_version`, surprisingly. Somehow, when you go to /zstd/badge.svg?version=0.5.1+zstd.1.4.4 the version that gets passed to `match_version` is `0.5.1 zstd.1.4.4` (with a space).

[2020-01-14 00:36] jyn514 commented on #395
I think it might be a bug in `params`? I'm giving up for now.

[2020-01-14 01:03] jyn514 commented on #395
Relevant code: https://github.com/rust-lang/docs.rs/blob/master/src/web/rustdoc.rs#L331

[2020-01-14 02:05] jyn514 commented on #459
Upgrade steps:

- iron -> 0.6
    - handlebars_iron -> 0.28
         -  rustc_serialize -> serde_json
             - get rid of JSON in database (TODO: do we actually need to do this?)
                 - get rid of crates.versions: https://github.com/rust-lang/docs.rs/issues/544
                 - make `releases.{dependencies, authors, keywords, files, doc_targets}` new tables
                 - f

[2020-01-14 08:35] pietroalbini commented on #459
If we migrate stuff interacting with the database I'd like to see tests that check the serialized string doesn't change (landing the tests before in a separate PR).

Well, if we create a wrapper type like:

[code]

... we can manually `impl serde::Serialize for JsonCompat`. Serde also has its own `Json` type.

To be honest, do we really need that dependency? I just rolled out it myself [for Crater

[2020-01-14 10:39] MaulingMonkey opened #566 "Sandbox limits increase request: jni-android-sys"
**Crate name:** jni-android-sys
**Build failure link:** https://docs.rs/crate/jni-android-sys/0.0.10/builds/212799

**Requested RAM limit:** 5GB
**Requested timeout:** As is (15 minutes)

**Why your crate needs the resource increases:**
rustdoc.exe alone uses 3.7GB of memory on windows, when executed via `cargo doc --no-deps --features "api-level-28 all force-define"`, as this crate includes gener

[2020-01-14 12:35] jyn514 commented on #459
Good call, I can pull a few of the bigger examples out of the DB as test cases.

Would it make sense to convert all rustc_serialize structures to serde's Json directly? I think that would be about the same effort as a wrapper.

Ok great! We can just reuse that code then, I'm always in favor of getting rid of dependencies.

[2020-01-14 12:47] pietroalbini commented on #459
Well, it depends if we want to do the switch across the whole application at the same time or gradually. I'd sort of prefer gradually...

[2020-01-14 23:25] jyn514 commented on #522
As a workaround, you can install rust in the build container directly: https://blog.rust-lang.org/2019/09/18/upcoming-docsrs-changes.html#how-to-prepare-for-the-changes

[2020-01-18 16:21] jyn514 commented on #312
@LPGhatguy I can't reproduce this bug, I published a crate recently but `/:crate` redirected to the latest built version instead of the latest published version. Can you try again and see if it's still an issue? If not, I'd like to close this bug.

[2020-01-19 08:43] magnusuMET commented on #548
@jyn514 This is fixed in the upstream nightly. I also have an affected crate, `netcdf` that needs a rebuild due to the same error.

[2020-01-19 11:22] pemistahl commented on #548
@magnusuMET Thanks for letting me know. Yes please, a rebuild of the docs for crate _grex_, versions 0.3.1 and 0.3.2 would be great. Thanks in advance.

[2020-01-19 14:52] jyn514 commented on #548
I rebuilt [grex 0.3.1](https://docs.rs/crate/grex/0.3.1), [grex 0.3.2](https://docs.rs/crate/grex/0.3.2), and [netcdf 0.4.0](https://docs.rs/crate/netcdf/0.4.0).

[2020-01-19 14:52] #548 closed

[2020-01-20 01:49] LPGhatguy commented on #312
Sure, I'll check when I publish the next version of this crate. Could it be that the crate is very large, and that's what causes the race? One of the functions [was quite big](https://github.com/rust-lang/rust/issues/60753) when I filed this issue.

[2020-01-20 02:32] jyn514 commented on #312
I double checked that the other crate was building when I refreshed the page, and 0.4 was definitely building at the same time 0.3 was displayed. I'll wait until I hear about your crate though :)

[2020-01-20 09:45] pietroalbini commented on #566
The limits increase is fine, but at the moment we can't apply it due to a bug. Once https://github.com/rust-lang/docs.rs/issues/458 is merged we'll increase the amount of RAM available to you!

[2020-01-20 09:46] pietroalbini commented on #458
Hello, and sorry for the long delay!

The limits increase is fine, but at the moment we can't increase the amount of RAM due to a bug. Once https://github.com/rust-lang/docs.rs/pull/567 is merged we'll increase both limits!

[2020-01-20 10:11] #552 closed

[2020-01-20 20:16] Progdrasil commented on #56
The redirect is online, is it possible to have the standard library to be hosted by docs.rs eventually?

[2020-01-20 20:24] jyn514 commented on #56
@Progdrasil We do not plan to host the standard library.

[2020-01-21 09:53] pietroalbini commented on #458
Increased the limits and queued a new build!

[2020-01-21 09:53] #458 closed

[2020-01-21 09:53] pietroalbini commented on #566
Increased the limits and queued a new build!

[2020-01-21 09:53] #566 closed

[2020-01-21 18:07] MaulingMonkey commented on #566
Build passed, much appreciated!  👍

[2020-01-22 18:52] jyn514 commented on #399
This was documented in #550. You can see the docs here: https://docs.rs/about#metadata

[2020-01-22 18:52] #399 closed

[2020-01-22 19:05] jyn514 commented on #488
1. is definitely non-intuitive, I think we should change it to redirect like you said to https://docs.rs/futures/0.1.29/futures/.

2. can't be fixed, unfortunately (or at least, I don't think we want to fix it). That 'Documentation' link is from the `documentation = ` section of Cargo.toml, which of course doesn't have the version in it. We can't infer the version in every case because it could al

[2020-01-23 01:30] jyn514 opened #569 "Return crate id from match_version"
If I look at where `match_version` is used, it's always followed by a query on the database fetching the `rustdoc_status`.
    - here we fetch `rustdoc_status`: https://github.com/rust-lang/docs.rs/blob/master/src/web/releases.rs#L486
    - here we fetch `rustdoc_status` and `target_name`: https://github.com/rust-lang/docs.rs/blob/master/src/web/rustdoc.rs#L160

  Maybe we can change `match_versio

[2020-01-23 01:48] #221 closed

[2020-01-23 01:48] #223 closed

[2020-01-23 01:52] jyn514 commented on #569
Mentoring instructions:

- Change the `Exact` and `Semver` variants on [`MatchVersion`](https://github.com/rust-lang/docs.rs/blob/9c0d43f/src/web/mod.rs#L190) to have a `(String, id)` tuple, not just a `String`.
- Change [`match_version`](https://github.com/rust-lang/docs.rs/blob/9c0d43f/src/web/mod.rs#L216) to query for `id` as well as `version`.
- Change the usages of match version (linked above

[2020-01-25 22:38] Zexbe commented on #489
I'm not sure that is the problem. If you do the exact same search, and hit refresh the results change.

[2020-01-30 13:37] #67 closed

[2020-01-30 18:59] jyn514 opened #572 "Intermittent panics in `get_file()`"
Happened twice in the past week, maybe S3 is timing out? Relevant unwraps: https://github.com/rust-lang/docs.rs/blob/master/src/db/file.rs#L86

[code]

[2020-01-30 19:15] jyn514 commented on #572
There are other, different panics in the same function. This panic comes from `res.body.unwrap()`, `res.last_modified.unwrap()`, or `res.content_type.unwrap()`  while the one above came from `read_to_end()`.

[code]

[2020-01-30 19:19] jyn514 opened #573 "Occasional panic in `rustdoc_html_server_handler()`"
I think this is because of `req_path.remove(0)`? Nothing else seems to be indexing into 0.

Relevant code: https://github.com/rust-lang/docs.rs/blob/master/src/web/rustdoc.rs#L202

Possibly related to #572.

[code]

[2020-01-31 16:00] jackgerrits opened #574 "Better documentation for how to build crates locally"
Is it possible to locally test a documentation build for a crate? If so, is there any documentation about doing this? If there is a docker container or something I'd be happy to help improve to docs with this. I am asking as I had an issue where my -sys crate was having trouble building on docs.rs and I had to rerelease several times to fix all of the issues.

[2020-01-31 16:03] jyn514 commented on #574
Yes, this is documented [in the README](https://github.com/rust-lang/docs.rs/blob/master/README.md#build-subcommand). It might be nice to also add it to the `/about` page.

[2020-01-31 16:06] jyn514 commented on #574
Mentoring instructions:

- modify [`templates/about.hbs`](https://github.com/rust-lang/docs.rs/blob/master/templates/about.hbs#L54) to point to the README
- optionally, make it more explicit in the README that `--local` works.

Partially I think this is hard to find because the README is so big, so it might be nice to split that up into README for users and CONTRIBUTING for contributors.

[2020-02-01 00:25] jyn514 commented on #489
I came up with a SQL query that works but is kind of complicated:
[code]

[2020-02-01 00:39] jyn514 commented on #489
BTW this is also partially cause by using `LIKE` instead of `ILIKE`, so the original issue report was also correct.

[2020-02-01 16:12] jyn514 opened #580 "Allow compiling without libmagic"
This has been an issue for various contributors. I would like to be able to run the test suite (even if not the builds) on architectures other than x86_64 debian.

See https://github.com/bjorn3/rustc_codegen_cranelift/issues/884.

cc @Zexbe

[2020-02-01 16:13] jyn514 commented on #361
Added in https://github.com/rust-lang/docs.rs/pull/578

[2020-02-01 16:13] #361 closed

[2020-02-01 16:14] jyn514 commented on #315
Rustwide allows [custom docker images](https://docs.rs/rustwide/0.3.2/rustwide/struct.WorkspaceBuilder.html#method.sandbox_image), I wonder if we could allow that to be configured in `package.metadata.docs.rs`.

[2020-02-01 16:17] jyn514 commented on #298
This may be fixed by https://github.com/rust-lang/rust/issues/67804.

[2020-02-01 16:18] jyn514 commented on #283
@cholcombe973 if you're willing to make a PR to crates-build-env, this would get fixed faster. Instructions here: https://github.com/rust-lang/docs.rs/wiki/Making-changes-to-the-build-environment

[2020-02-01 16:21] jyn514 commented on #294
Hmm, I would like to support this, but I also don't want to copy .css files generated by rustdoc, since that would result in a lot of duplicated files for every crate.

[2020-02-01 16:21] #284 closed

[2020-02-01 16:25] jyn514 commented on #236
I think this was because we were using an old version of cargo. Since we now always depend on the latest version of cargo, it should never fail to parse the manifest. Feel free to re-open if you run into a similar issue!

[2020-02-01 16:25] #236 closed

[2020-02-01 16:25] jyn514 commented on #214
This was a bug in rustdoc and has since been fixed.

[2020-02-01 16:25] #214 closed

[2020-02-01 16:34] jyn514 commented on #158
We've since redirected the docs for yanked crates for the latest version. It would be nice to add a badge saying that the crate has been yanked e.g. on https://docs.rs/crate/futures/0.2.3-docs-yank.4.

[2020-02-01 16:37] jyn514 commented on #158
Oops, I think that might have been done by `futures` in their docs actually. We have a long way to go for handling yanks :sweat_smile:

See also #112, #322 , #561

[2020-02-01 16:38] jyn514 commented on #137
Mentoring instructions:

In https://github.com/rust-lang/docs.rs/blob/master/templates/navigation.hbs#L17, add a `<li>` tag that has a link to the cookbook.

[2020-02-01 16:40] jyn514 commented on #115
I don't think this is in scope for docs.rs. If you want to discuss rust crates, you can post on users.rust-lang.org/.

[2020-02-01 16:40] #115 closed

[2020-02-01 16:42] jyn514 commented on #146
Duplicate of https://github.com/rust-lang/docs.rs/issues/146

[2020-02-01 16:42] #146 closed

[2020-02-01 16:42] jyn514 commented on #83
Duplicate of https://github.com/rust-lang/docs.rs/issues/174

[2020-02-01 16:42] #83 closed

[2020-02-01 16:44] jyn514 commented on #76
I haven't ever seen this error, I think `git gc` fixed it.

[2020-02-01 16:44] #76 closed

[2020-02-01 16:46] jyn514 commented on #79
@liigo we have links to the standard library and a few other resource under the 'Rust' dropdown in the navigation panel. If you have any specific links you would like, feel free to open a new issue (or make a PR adding them yourself, mentoring instructions here: https://github.com/rust-lang/docs.rs/issues/137#issuecomment-581046680)

[2020-02-01 16:53] jyn514 commented on #288
We currently add `index.html` for `/`, but not if the slash is missing. Thanks for writing up instructions!

[2020-02-01 16:56] jyn514 commented on #580
libmagic is used in [`add_path_into_database`](https://github.com/rust-lang/docs.rs/blob/master/src/db/file.rs#L154) to detect the file type. I wonder if we could get away with having a static database of file extensions?

[2020-02-01 19:36] d-e-s-o commented on #288
Just hit the same issue with `tokio` docs. Wanted to see documentation for the https://docs.rs/tokio/0.2.11/tokio/time but "the resource does not exist". Adding slash or `/index.html` works, but would be good to have this done automatically.

[2020-02-01 20:26] #574 closed

[2020-02-01 20:46] Zexbe commented on #580
Do you always have the file extension? Would this work? https://crates.io/crates/mime_guess

[2020-02-01 21:05] jyn514 commented on #580
Not all files have file extensions, so this isn't 100% reliable, I was mostly imagining it for local testing where you really only care about .html, .css and .js

[2020-02-01 21:05] jyn514 commented on #580
But yeah that could work locally

[2020-02-02 05:36] alexanderkjall opened #583 "sequoia-openpgp missing dependency nettle-dev"
**Crate name:**
sequoia-openpgp

**Build failure link:**
https://docs.rs/crate/sequoia-openpgp/0.13.0/builds/207007

**Additional details:**
dependencies in debian: https://salsa.debian.org/rust-team/debcargo-conf/blob/master/src/nettle-sys/debian/debcargo.toml

[2020-02-02 06:43] jyn514 commented on #583
If you have the time, this would get fixed faster if you make a PR to crates-build-env: https://github.com/rust-lang/docs.rs/wiki/Making-changes-to-the-build-environment

[2020-02-02 08:03] alexanderkjall commented on #583
I actually started to do that, but the instructions was for rust installations with rustup, so none of the paths matched my system.

I will take the time to get it to work and supply a PR.

[2020-02-02 15:18] jyn514 commented on #583
If you do get it working, please let me know so I can add it to the wiki!

[2020-02-02 15:22] jyn514 commented on #583
Although now that I think about it, I think Rustwide might expect rustup to be installed . . . I think the solution might be to allow a custom docker environment when running docs.rs normally. cc #522

[2020-02-02 16:12] jyn514 commented on #583
As a fallback, you can also try modifying the build environment to install rustup, which won't mess with your local rust installation and should be platform independent, it's just a few more steps and doesn't replicate the sandbox environment: https://blog.rust-lang.org/2019/09/18/upcoming-docsrs-changes.html#how-to-prepare-for-the-changes

[2020-02-02 17:02] #288 closed

[2020-02-02 17:17] jyn514 commented on #488
Actually I think the right thing to do for 1. is to redirect to the same page but with the version number bumped, like we do for `latest_version`. We have most of the groundwork in place, we just have to pass it to the template.

[2020-02-02 18:49] alexanderkjall commented on #583
Here is a pull request: https://github.com/rust-lang/crates-build-env/pull/31

It got complicated fixing the paths to the local installation of rust, so I just entered the docker instance with:

[code]

And installed what I needed inside the docker image and ran the build there.

[2020-02-03 09:55] schn4v1d opened #585 "Consider adding guile-2.2-dev as a system package"
**Crate name:** libguile-src / guile-scheme
**Build failure link:** https://docs.rs/crate/libguile-src/0.1.0/builds/217265

**Additional details:**
I think all I need is the package `guile-2.2-dev` as a system package. Sorry I couldnt get the `crates-build-env` thing to work on my device...

[2020-02-03 23:07] jyn514 commented on #522
Ok, clearly the docker container isn't working for people outside the very narrow case of x86_64-unknown-linux-gnu. I think a better long-term solution is to allow the docker image for docs.rs to be configured.

Mentoring instructions:

- In [`RustwideBuilder::init`](https://github.com/rust-lang/docs.rs/blob/master/src/docbuilder/rustwide_builder.rs#L80), check for an environment variable (maybe `

[2020-02-03 23:07] Zexbe opened #588 "Filtering uploaded files"
When dealing with crates, the site should check that they are a sane size, and file type before uploading them. Ex: 100gb video should be blocked.

[2020-02-03 23:09] jyn514 commented on #588
Relevant code: https://github.com/rust-lang/docs.rs/blob/master/src/db/file.rs#L190

[2020-02-05 12:19] glts commented on #191
This is still a problem, and I don't think a general 'clean' work-around exists. My package bundles a file `milter.pc` in the project root, and I can build the docs locally with `PKG_CONFIG_PATH=. cargo doc`, but can't build on docs.rs. So env variable support would be welcome.

[2020-02-05 13:05] jyn514 commented on #164
This was never documented and is no longer in the code at all.

[2020-02-05 13:05] #164 closed

[2020-02-05 13:15] kornelski commented on #191
I think you should be able to set env vars in your `build.rs`. They won't affect your dependencies, but they should affect your `pkg_config` calls.

[2020-02-05 14:08] liigo commented on #79
@jyn514 there's no rustc related api docs listed in the 'Rust' dropdown currently, so i don't think this issue is resolved.

[2020-02-05 14:11] jyn514 commented on #79
Ah sorry I misread `rustc` as `rust`.

[2020-02-05 14:13] jyn514 commented on #79
Mentoring instructions:

- In [`templates/navigation.hbs`](https://github.com/rust-lang/docs.rs/blob/master/templates/navigation.hbs#L18), add links to https://doc.rust-lang.org/stable/rustc/ and any other links you find helpful.

[2020-02-05 14:14] liigo commented on #79
Thank you!

[2020-02-05 14:16] jyn514 commented on #79
Also, @pietroalbini are you comfortable adding links to `rustc` specifically? I know it's currently the only Rust implementation, but `mrustc` is a thing and I'm not sure if others are planned (in the far future) ...

[2020-02-05 14:32] pietroalbini commented on #79
The link I think @liigo mentions is https://doc.rust-lang.org/nightly/nightly-rustc/rustc/.

I don't think adding the link itself is worth though: it's only needed for people working on the compiler, and it's [shown on the home page of the contributor guide](https://rust-lang.github.io/rustc-guide/).

[2020-02-05 14:44] jyn514 commented on #79
Maybe it would be helpful to link to the contributor guide instead?

[2020-02-05 14:48] glts commented on #191
Thank you, I tried with `fn main() { println!("cargo:rustc-env=PKG_CONFIG_PATH=."); }` in build.rs but it doesn't have any effect for me.

[2020-02-05 14:50] jyn514 commented on #191
Is this a command you're calling in `build.rs`? Can you use [`set_var`](https://doc.rust-lang.org/std/env/fn.set_var.html) directly?

[2020-02-05 15:16] glts commented on #191
All right, the project is https://gitlab.com/glts/milter. It requires libmilter-dev (Debian/Ubuntu), and it bundles a milter.pc file.

Then `cargo doc`:

[code]

Then doing exactly what the error message tells me, `PKG_CONFIG_PATH=. cargo doc` succeeds. But I haven’t been able to have this work on docs.rs, neither with `cargo:rustc-env` in build.rs, nor with `set_var` in build.rs.

[2020-02-05 15:45] pietroalbini commented on #79
Hmm, I still don't see much value in that, as a rustc contributor should already know that.

[2020-02-05 16:42] jyn514 commented on #79
Speaking personally, I've made a couple PRs to rustc and I didn't know the contributor guide existed until recently.

[2020-02-06 06:03] kespindler opened #590 "Feature request: list crate features at the top of package index.html"
When learning Rust, it's surprising to not find a namespace available within a package. Having crate features available at the top of the docs.rs package would be a great indication that some namespaces are gated behind features.

[2020-02-06 06:24] jyn514 commented on #590
I think listing all the features of the crate is useful and in scope (maybe under the `crate` tab). However, we can't put it on the page for every module since those pages are generated by rustdoc.

[2020-02-06 06:26] jyn514 commented on #590
Or in other words: just finding which features are available is simple, we just parse `Cargo.toml`; finding what changes when a given feature is enabled/disabled requires expanding macros and parsing the code and also lies on a weird boundary between cargo and rustdoc.

[2020-02-06 12:45] Zeegomo commented on #569
Hi, I'd like to work on this if it's still unclaimed!

[2020-02-06 13:46] MikePryadko opened #591 "docs.rs failed to build deno-0.32.0"
From https://docs.rs/crate/deno/0.32.0 I see `docs.rs failed to build deno-0.32.0`, going to log I see `[INFO] [stderr] error: linking with `cc` failed: exit code: 1` and after alot of lines `/opt/rustwide/cargo-home/registry/src/github.com-1ecc6299db9ec823/rusty_v8-0.2.1/src/{some_file_and_line_number}: undefined reference to {some_symbol_name}`

[2020-02-06 13:58] jyn514 commented on #569
@Zeegomo go for it! If you have any questions, feel free to reach out here or [on Discord](https://discordapp.com/invite/f7mTXPW/). There's also lots of information in the README.

[2020-02-06 14:02] jyn514 commented on #591
I'm not sure I understand what went wrong... I see that it's trying to link to v8, do you know if it needs the runtime libraries installed? How would we fix this?

[2020-02-06 18:38] koenaad commented on #463
Hi :wave: I would like to dive into this.

[2020-02-06 18:44] jyn514 commented on #463
@koenaad :wave: I've never used minio myself, so you'll have to experiment with that. Here are some of the things you'll have to modify, though:

- Add a new container to the [`docker-compose.yml`](https://github.com/rust-lang/docs.rs/blob/master/docker-compose.yml) file
- Set the `AWS_ACCESS_KEY_ID` environment variable (it will be read in [`src/db/file.rs`](https://github.com/rust-lang/docs.rs/b

[2020-02-06 18:57] koenaad commented on #463
Thanks for the pointers @jyn514. Don't have any experience with minio either, but I'll simply spin up the docker and see what I can do with it 😃

[2020-02-06 19:05] jyn514 commented on #522
I'm going to work on this.

[2020-02-06 20:30] jyn514 commented on #585
@schn4v1d I'd like to help with this, but I can't find the source code for `libguile-src`, you don't seem to have it in Cargo.toml. Can you point me to the repo it lives in so I can test if my changes work?

[2020-02-06 20:32] jyn514 commented on #585
Oh never mind, I found it from your crates.io profile: https://gitlab.com/schnavid/guile-scheme/-/tree/master/src/libguile-src

[2020-02-06 20:51] jyn514 commented on #583
This is strange ... I requeued the build and it had the proper dependencies this time, but it failed at the very last step:

[code]

Could you have a broken symbolic link or something similar in your sources?

[2020-02-06 21:49] jyn514 commented on #583
Sorry, this was our own bug (https://github.com/rust-lang/docs.rs/commit/f29b56239479e07aec2c4b89917f6e9dd5a86e69). `nettle-dev` is rebuilding now.

[2020-02-06 22:10] jyn514 commented on #583
Rebuilt: https://docs.rs/sequoia-openpgp/0.13.0/sequoia_openpgp/

[2020-02-06 22:10] #583 closed

[2020-02-07 08:47] cormacrelf opened #595 "iPhone scrolling is painful"
Recently, docs.rs gained a fixed header bar. To accommodate this, all other content on the page was moved into an `overflow: auto` div of some kind. This is a problem. For context, there are two kinds of scrolling used on websites in Safari on an iPhone:

1.	Inertial scrolling, keeps moving until simulated friction stops it after you lift your finger. Covers a lot of ground very quickly but allows

[2020-02-07 13:48] jyn514 commented on #595
Hmm, maybe we should have gone with https://github.com/rust-lang/docs.rs/pull/510 after all ... cc @GuillaumeGomez @Koxiaet

[2020-02-07 14:29] cormacrelf commented on #595
FWIW the standard practice for the link-offset-with-fixed-header issue in that thread is to have an explicit, invisible, empty anchor tag with a name (maybe an id attribute instead, I’d have to check), absolutely positioned, relative to the original heading, with `top: -$header_height`. Navigation then scrolls to the invisible anchor, leaving it under the bar and the actual header visible. No JS n

[2020-02-07 14:31] cormacrelf commented on #595
For an example, open the devtools on this header: https://aglc4.cormacrelf.net/csl#3.1-Generally

[2020-02-07 14:33] jyn514 commented on #595
@cormacrelf would you be willing to make a PR implementing those CSS changes? It sounds like you know what you're talking about :laughing:

[2020-02-07 14:40] cormacrelf commented on #595
@jyn514 It would also dig into generating the HTML — it might be a bit tricky if you’re just slapping rustdoc output in a template. would appreciate a few pointers on how you’d like links to be transformed, if there’s another option than adding it to rustdoc itself or reparsing the whole thing. The CSS is pretty easy after that.

[2020-02-07 14:47] cormacrelf commented on #595
(And if that turns out to be a significant blocker, I would request reverting the top bar change that introduced this issue as an interim measure, as usability has been impacted so much.)

[2020-02-07 14:49] jyn514 commented on #595
That's unfortunate, we are indeed just slapping rustdoc output into a template. Maybe you could coordinate with @GuillaumeGomez to change how rustdoc outputs HTML?

[2020-02-07 14:54] jyn514 commented on #595
Hmm but that doesn't fix old docs. This is definitely a hard problem, I can make a PR reverting the other changes in the meantime.

[2020-02-07 15:07] GuillaumeGomez commented on #595
Reverting the changes would bring back the anchor issue. :-/

[2020-02-07 15:08] Koxiaet commented on #595
I think they mean reverting all they way back to before the top bar was fixed.

[2020-02-07 15:09] GuillaumeGomez commented on #595
Oh. That'd fix all issues then. :)

[2020-02-07 15:28] cormacrelf commented on #595
Sometimes a bit of vanilla JS on document load to insert anchors is just the right kind of solution. I’ll have a look at doing it that way, without changing rustdoc / having to queue a rebuild of every crate.

[2020-02-07 17:37] alexanderkjall commented on #583
Thanks :)

[2020-02-07 17:47] MikePryadko commented on #591
Sorry, I'm not Rust-programmer -- I just walked by and noticed this

[2020-02-08 21:36] Zexbe commented on #595
Scrolling is working on my phone (iPhone 8+)
Is it every iPhone, or just some iPhones?
Is it every crate or just some crates?
What happens on an android phone?

[2020-02-09 13:01] Folyd commented on #105
Any progress on this issue? Kind of annoy that https://docs.rs/async_std show `The requested resource does not exist`, but https://docs.rs/async-std is redirected success to https://docs.rs/async-std/1.5.0/async_std/.

[2020-02-09 14:34] jyn514 commented on #105
@Folyd there is an open PR for this feature, but it needs changes and hasn't been updated by the author: #348

[2020-02-09 17:35] #463 closed

[2020-02-10 06:42] Kinrany opened #601 "Include methods in search results"
I wanted to find the description of the `StreamExt::flatten` method from the [`futures`] crate.

Querying "flatten", [the results] were not very helpful. Fortunately there's the `Flatten` struct that references the method in its description.

The method is present in the "In Return Types" tab (and tabs are a bit unintuitive), so it seems showing the method is already possible. But the method shows

[2020-02-10 07:19] Kinrany commented on #601
Oh, the method is there, it's the fourth result. I guess I can't read, sorry.

...consider this a request to move exact matches to the top of the list?

[2020-02-10 09:35] yaa110 opened #602 "unable to build nginx crate docs"
**Crate name:** [nginx](https://crates.io/crates/nginx)
**Build failure link:** https://docs.rs/crate/nginx/0.6.2/builds

**Additional details:**
I locally tested it using [this guide](https://blog.rust-lang.org/2019/09/18/upcoming-docsrs-changes.html), and it is successfully built:

[code]

[code]

[code]

[code]

[code]

[2020-02-10 14:04] jyn514 commented on #602
Unfortunately the build log doesn't have enough information for me to help. Do you know why this could have failed? If not, could you change your build.rs to show more information on failure?

[2020-02-10 14:08] jyn514 commented on #601
This is a feature request for rustdoc, not docs.rs. Can you open an issue in https://github.com/rust-lang/rust instead?

Also, I would count `Flatten` as an exact match ... Maybe what you want is a way to show methods before structs or vice versa?

[2020-02-10 14:09] yaa110 commented on #602
in `Makefile` of the crate which is run in `build.rs`, target [prepare-nginx](https://github.com/arvancloud/nginx-rs/blob/master/Makefile#L11) is failed which tries to download NGINX from nginx.org.

[2020-02-10 14:10] GuillaumeGomez commented on #601
You can do so by filterin the items: `fn:your-method`

[2020-02-10 14:11] jyn514 commented on #602
Network access is blocked when building crates. I believe nginx is installed in the build environment, could you use the system version instead?

[2020-02-10 14:29] jyn514 commented on #602
Hmm, maybe [it's not installed](https://github.com/rust-lang/crates-build-env/blob/master/packages.txt) ... Could you try again with the guide locally and see if it works? If not, you could [make a PR to crates-build-env](https://github.com/rust-lang/docs.rs/wiki/Making-changes-to-the-build-environment).

[2020-02-10 14:44] imjasonmiller commented on #595
I ran it locally and [`-webkit-overflow-scrolling`](https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-overflow-scrolling) on enables momentum scrolling and makes it a lot less painful on iPhone.

[code]

You'd still lose out on being able to go back up quickly by tapping the top bar, but I think it alleviates a lot without having to rewrite a large part of the layout right now.

I could sub

[2020-02-10 15:11] yaa110 commented on #602
The crate needs the source code of nginx

[2020-02-10 15:36] Kinrany commented on #601
Sure, done! https://github.com/rust-lang/rust/issues/69025

[2020-02-10 15:36] #601 closed

[2020-02-10 15:47] Kinrany commented on #601
Not sure, but I don't think so. Intuitively it's simpler and makes more sense to look for symbols that have exactly the same name, including casing. It takes zero additional effort to type the name with the correct casing.

That's useful, thanks!

[2020-02-10 16:01] jyn514 commented on #602
Ok, as a workaround you could include `nginx` as a submodule in your git repository.

[2020-02-11 03:14] jyn514 opened #603 "Redirect to /crate/:crate/:version in more places instead of 404ing"
Currently, the following places redirect to https://docs.rs/crate/bat/0.12.1:

- https://docs.rs/crate/bat/
- https://docs.rs/crate/bat/0.12.1/
- https://docs.rs/bat
- https://docs.rs/bat/
- https://docs.rs/bat/0.12.1
- https://docs.rs/bat/0.12.1/
- https://docs.rs/bat/0.12.1/bat
- https://docs.rs/bat/0.12.1/i686-unknown-linux-gnu

The following places give a 404:

- https://docs.rs/crate/bat/0.12

[2020-02-11 04:06] liigo commented on #79
IMO if `docs.rs` is the *home* of all crates api docs, users would expect to find `std` and `rustc` api docs at the site. And they should be provided in the same way as other crates, not just in an external links list (the ‘Rust’ dropdown menu).

[2020-02-11 04:11] jyn514 commented on #79
But `std` and `rustc` are not crates, they are part of the compiler. Hosting `std` docs is significantly more difficult and expensive than hosting crates.io crates and we do not plan to support it anytime soon.

[2020-02-11 04:12] jyn514 commented on #79
BTW, you can go to https://docs.rs/std and it will redirect you to https://docs.rs/std, which might be part of what you're looking for.

[2020-02-11 04:13] jyn514 commented on #79
Actually, maybe it would make sense to redirect `rustc` to https://doc.rust-lang.org/nightly/nightly-rustc/rustc/ as well? Not sure if `rustc` is a reserved name on crates.io.

[2020-02-11 04:19] liigo opened #604 "crate `std` and `rustc` should be searchable"
https://docs.rs/releases/search?query=std
https://docs.rs/releases/search?query=rustc

[2020-02-11 15:04] yaa110 opened #605 "Limited http requests with permissions to build a crate"
Some crates need to download a source code to generate ffi bindings (issue #602). It would be helpful to add a `permissions` section to Cargo.toml to allow crates access declared urls in that section.

[2020-02-11 16:32] jyn514 commented on #605
This is the same as unlimited network access, since you could just put any URL in the `permissions` section. We _could_ override this on a case by case basis, but I am not comfortable doing that for security reasons. Please find an alternative way to build your crate that does not require internet access.

[2020-02-11 16:32] #605 closed

[2020-02-11 16:34] jyn514 commented on #605
Note that this affects me too, I develop https://docs.rs/crate/yottadb/0.3.0 which requires internet access to download the C package it depends on. My solution was to host the documentation on GitLab Pages instead and link there from the crate README, maybe that will work for you?

[2020-02-12 23:49] jyn514 commented on #472
I'm looking over this now, and it seems we _do_ have some logs in /var/log/nginx we could grep for. Note that these logs are not accurate because we cache using cloudfront, but they might be enough for a rough estimate.

I think @pietroalbini might have meant that we don't track accesses _in the application_, so this only happens to work in production, and won't be reproducible anywhere else (e.g.

[2020-02-13 21:19] Nemo157 commented on #595
This also appears to make scrolling very laggy in macOS Safari (Version 13.0.5 (14608.5.12)) and Safari Technology Preview (Release 100 (Safari 13.2, WebKit 14610.1.2.1) and whenever switching back to the tab there's a flash of a blue border around the `rustdoc_body_wrapper`, which disappears after a frame moving the entire content a couple of pixels.

I tested removing both `fixed` attributes and

[2020-02-13 22:19] pftbest opened #607 "The source view is not available when crate failed to build."
It should be possible to view the source code of a crate even if it failed to compile for some reason. I think some time ago this was working correctly, but I'm not sure.

It seems docs.rs is the only website on the internet which allows you to read the source code of a crate, because github link is often missing and even if it's not it contains a different source code than an actual crate version

[2020-02-13 23:03] jyn514 commented on #607
I think this should be as simple as moving this block outside of the `if res.result.successful` block: https://github.com/rust-lang/docs.rs/blob/master/src/docbuilder/rustwide_builder.rs#L313

[2020-02-13 23:52] adamgreig opened #608 "Sandbox limits increase request for stm32 family crates"
**Crate name:** stm32f1, stm32f4, stm32h7, stm32g4
**Build failure link:** [stm32f1](https://docs.rs/crate/stm32f1/0.10.0/builds) [stm32f4](https://docs.rs/crate/stm32f4/0.10.0/builds) [stm32h7](https://docs.rs/crate/stm32h7/0.10.0/builds) [stm32g4](https://docs.rs/crate/stm32g4/0.10.0)

**Requested RAM limit:** stm32f1: 4GB, stm32f4: 5GB, stm32h7: 8GB, stm32g4: 5GB
**Requested timeout:** existing

[2020-02-14 17:27] twitu opened #609 "Add button to copy dependency text"
It's a tiny enhancement feature. A small button on the side of a particular crate version that copies the text required for the `cargo.toml` file.

1. It will make it super easy to copy and paste dependencies.
2. It might reduce the chance of a one of memory slip error.

I have added an image of where the copy to clipboard button might be placed.
![rust_docs](https://user-images.githubusercontent.

[2020-02-14 18:46] jyn514 commented on #609
Steps to add this:
1. In [`templates/navigation.hbs`](https://github.com/rust-lang/docs.rs/blob/master/templates/navigation.hbs#L37), add an id to the h1 tag
2. Next to the h1, add a [clipboard icon](https://fontawesome.com/v4.7.0/icon/clipboard) using font-awesome
3. Create a new file (index.js ?) in the templates/ folder that adds an event listener, something like https://www.w3schools.com/howto

[2020-02-15 14:36] jackgerrits opened #612 "Vowpalwabbit-sys status badge shows incorrect status"
**Crate name:** https://crates.io/crates/vowpalwabbit-sys
**Build failure link:** N/A

**Additional details:**
The docs.rs build failed several times for a previous version, and I was trying to use metadata to spin new versions. (I was tracking an upstream dependency, hence my attempt to avoid incrementing the patch version)
[code]

This really did not work well because they were all seen as the s

[2020-02-15 14:46] jyn514 commented on #612
Duplicate of #395

[2020-02-15 14:46] #612 closed

[2020-02-15 14:52] jackgerrits commented on #612
Thanks!

[2020-02-15 22:43] sunjay opened #614 "Update `yanked` after crates are already built"
There was a very similar bug in crates.io two years ago and now it seems to have popped up on docs.rs too: https://github.com/rust-lang/crates.io/issues/1144

All the details are in that bug (just replace `crates.io/crates` with `docs.rs`), but I'll describe it here as well.

## Reproduction Steps

To reproduce the bug, go to https://docs.rs/turtle

**Expected:** This should redirect to the latest

[2020-02-15 22:54] sunjay commented on #614
If docs.rs doesn't currently deal with yanked crates, an easy workaround just for my particular case might be to delete the old non-1.0 versions of the turtle crate. I asked for that in https://github.com/rust-lang/docs.rs/issues/158 a few years ago, but I guess no one had a chance to get around to it.

[2020-02-15 23:28] jyn514 commented on #614
This is a very strange bug to see, because we explicitly filter out yanked versions in the `match_version` query: https://github.com/rust-lang/docs.rs/blob/master/src/web/mod.rs#L231. Maybe we didn't store that the version was yanked for some reason?

[2020-02-15 23:36] sunjay commented on #614
Maybe these versions were published before that information started being stored?

[2020-02-16 00:01] jyn514 commented on #614
This doesn't need to be fixed in code then I think, I can just write a one-off shell script.

[2020-02-16 15:40] jyn514 commented on #595
@cormacrelf  we reverted the change that happened around the time you opened the issue. Can you confirm whether the problem is fixed?

[2020-02-16 16:18] Neo-Ciber94 opened #615 "Unable to build win32console docs"
**Crate name:** [win32console](https://crates.io/crates/win32console)
**Build failure link:** https://docs.rs/crate/win32console/0.1.2/builds

**Additional details:**
Having some problems when building my first crate **win32console** docs, all the errors are related to modules that cannot be found from **winapi**.

[code]

[code]

**Complete log**:
https://docs.rs/crate/win32console/0.1.2/builds/2

[2020-02-16 16:37] jyn514 commented on #615
Does your build work locally after you run `cargo update`? This doesn't look like an error on our side.

[2020-02-16 16:39] jyn514 commented on #615
Oh actually the issue might be that it's building for a linux target, try setting `default-target` in Cargo.toml: https://docs.rs/about#metadata

[2020-02-16 16:51] Neo-Ciber94 commented on #615
Thanks for the help, it build correctly after adding:
[code]

[2020-02-16 16:51] #615 closed

[2020-02-16 20:06] adamgreig opened #616 "Sandbox limits increase request for stm32ral"
**Crate name:** stm32ral
**Build failure link:** https://docs.rs/crate/stm32ral/0.4.1/builds

**Requested RAM limit:** 6GB
**Requested timeout:** 15min is OK

**Why your crate needs the resource increases:**

Related to #608, stm32ral is an alternative register access crate for all STM32 microcontrollers in one package. As with those crates, it documents thousands of hardware registers and so is q

[2020-02-16 20:25] jyn514 commented on #608
We're already having some issue with OOM ... maybe it would be better to wait until #532 is merged. @pietroalbini what do you think?

[2020-02-16 22:40] jyn514 commented on #614
Ah so the problem is we never update the `yanked` field :man_facepalming: This is #322

[2020-02-17 11:01] pietroalbini commented on #608
I think 5GB is fine. We have a 16GB of RAM machine, and the normal usage is around 4/5GB. Building multiple targets or a single one is not an issue, as we don't do any kind of parallel build.

[2020-02-18 02:15] AldaronLau opened #617 "Reflect GitHub Username Changes"
In the owners section on [the `cala` crate page](https://docs.rs/crate/cala/0.7.0), one of the crates I have, it shows all of my previous GitHub usernames that I've had as separate owners, and not the current one.  Likely because I haven't published a new version of `cala` with my current username yet, but it seems silly to keep around the old usernames (especially if other people take my old user

[2020-02-19 04:05] Zexbe opened #618 "Broken rust icon link"
If you go to this link
https://docs.rs/brotli/3.3.0/brotli/index.html
The rust icon has a bad link that goes to
https://docs.rs/-20190128-1.34.0-nightly-d8a0dd7ae/index.html

[2020-02-19 04:06] Zexbe commented on #513
I found another example, If you go to this link
https://docs.rs/playground/0.1.0/playground/
The go to latest version has a bad link that goes to
https://docs.rs/playground/0.1.1/playground/?search=playground

[2020-02-19 04:18] jyn514 commented on #513
This is https://github.com/rust-lang/docs.rs/issues/502, I have an open PR waiting for review: #509

[2020-02-19 15:07] #569 closed

[2020-02-19 23:45] petr-tik commented on #472
Hey @jyn514 - thanks for providing this.

Should be helpful in tackling most important/least documented pages.

Is there any scope to extend this log summaries in the future, so maintainers can keep improving documentation using this information?

[2020-02-20 00:08] jyn514 commented on #472
It would be a fairly large time and storage investment (where would we store the logs?). I would be willing to take a PR adding this, but I don't plan to add it myself any time soon.

[2020-02-21 14:35] jyn514 commented on #595
@cormacrelf  @Nemo157 @imjasonmiller  Could one of you please confirm whether https://github.com/rust-lang/docs.rs/pull/610 helped with this issue?

[2020-02-21 16:27] imjasonmiller commented on #595
Sorry @jyn514, I didn't see your first reply! It doesn't seem to have helped me with this issue, but perhaps I'm doing something wrong? After visiting the documentation for [`serde`](https://docs.rs/serde/1.0.104/serde/macro.forward_to_deserialize_any.html), it still seems the three points raised by @cormacrelf apply to me.

[2020-02-21 20:26] jyn514 commented on #595
Ok, this bug must have existed for a while then since the CSS [isn't updated all that often](https://github.com/rust-lang/docs.rs/commits/master/templates/style.scss). I guess that means we can merge #611 (with apologies to @Zexbe for reverting his change).

If anyone wants to work on fixing this I'm happy to mentor but without an iPhone or Safari I can't really test any changes.

[2020-02-22 02:48] reese commented on #609
Hi folks, would love to take this ticket on! It looks pretty straightforward and seems like a nice usability feature.

[2020-02-22 03:17] jyn514 commented on #609
@reese thanks so much! Feel free to reach out here or [on Discord](https://discord.gg/f7mTXPW) with questions :)

[2020-02-22 03:29] jyn514 commented on #595
I'm on the linked page with a friend's iPhone and I can't replicate any of the mentioned issues. This is an iPhone 8 with iOS 13. Can you post your version of iOS?

[2020-02-22 22:27] reese commented on #618
Hmm, not sure the source of that, since presumably that's a failure originating in `rustdoc` from nightly at the time of that build, which was over a year ago. Interestingly enough, that's true for all of 3.* versions of `brotli`, and the [2.* versions](https://docs.rs/brotli/2.3.0/brotli/) don't have the icon at all.

That said, I re-built this crate locally and the icon link works as expected, s

[2020-02-23 01:00] jyn514 commented on #618
Duplicate of #464

[2020-02-23 01:00] #618 closed

[2020-02-23 01:03] jyn514 commented on #618
Rebuilt brotli 3.3.0 just now so the link is fixed for that version at least.

[2020-02-23 02:29] #609 closed

[2020-02-23 06:07] jyn514 commented on #312
Closing this since I haven't been able to reproduce the bug. Feel free to reopen if this happens again.

[2020-02-23 06:07] #312 closed

[2020-02-23 06:11] jyn514 commented on #304
You can currently set this for the entire crate by setting the --document-private-items flag in your cargo.toml ([docs](https://docs.rs/about#metadata)). It sounds like you're asking for even more than that though: both public and private documentation. That sounds hard to do in general, I want to avoid building crates twice. Maybe rustdoc could get a feature that marks items as private when passi

[2020-02-23 06:14] jyn514 commented on #270
Closing this since it hasn't been used in a while and I'd rather track these in separate issues.

[2020-02-23 06:14] #270 closed

[2020-02-23 06:21] jyn514 commented on #208
Duplicate of https://github.com/rust-lang/docs.rs/issues/105

[2020-02-23 06:21] #208 closed

[2020-02-23 14:49] #502 closed

[2020-02-23 17:38] jyn514 commented on #580
Fixed in https://github.com/rust-lang/docs.rs/pull/600

[2020-02-23 17:38] #580 closed

[2020-02-23 17:44] jyn514 commented on #522
Fixed in #593

[2020-02-23 17:44] #522 closed

[2020-02-24 14:27] jyn514 commented on #617
@LordAldaron how would we tell if a username had changed?

[2020-02-24 14:33] jyn514 opened #622 "Clipboard still shows up on 404 pages"
e.g. https://docs.rs/pyo3/0.9.0-alpha.1/src/pyo3

cc @reese, are you interested in fixing this?

[2020-02-24 14:34] jyn514 commented on #591
Upstream bug is https://github.com/denoland/deno/issues/3875. Looks like they have different builds steps on docs.rs because of the blocked network access?

[2020-02-24 14:35] reese commented on #622
Yeah I can definitely take a look at this one!

[2020-02-24 16:37] hdevalence commented on #304
Right, setting the `--document-private-items` flag in a single crate doesn't provide the feature I think would be great: linkable, crossreferenced documentation for the internals for every crate in the ecosystem. Having rustdoc mark items as private when rendering them with `--document-private-items` would be great, but I think it's independent of this feature request, which is really about render

[2020-02-24 16:44] jyn514 commented on #304
The reason is storage costs, not server load. All the documentation we build we have to store in perpetuity: we currently have 3 TB of docs and that number will only go up over time.

I think this is a reasonable request, but I don't want to implement it until we reduce some of our needless storage use (#379 and #343). See also https://github.com/rust-lang/docs.rs/issues/608 and https://github.com

[2020-02-24 16:46] hdevalence commented on #304
Ah, that's totally reasonable. Thanks for the information and for your work on docs.rs :)

[2020-02-24 16:52] LordAldaron commented on #617
@jyn514 docs.rs should be able to do it the same way that crates.io can.  It might be a matter of just pulling the data from crates.io when the docs get updated, or copying the code that does it from crates.io.  There might be some query that can be made to crates.io to get the owners of a crate (probably already used in the code).  So, it might just be a matter of clearing the owner data before r

[2020-02-24 19:07] mahkoh opened #623 "Search result positions not shown in chrome"
The page content is contained in an element with the fixed css attribute. This causes the following result position indicators to not show up when searching:

![2020-02-24 20:03:16](https://user-images.githubusercontent.com/1882250/75182553-f5b49f00-5740-11ea-9672-bfe4d124b051.png)

[2020-02-24 19:37] jyn514 commented on #623
Possibly related to #595

[2020-02-25 17:00] imjasonmiller commented on #595
@jyn514 it's an older iPhone 5S, so that's iOS 12 still.

[2020-02-27 14:06] jyn514 opened #626 "Panic/timeout connecting to postgres"
[code]

Relevant code: https://github.com/rust-lang/docs.rs/blob/master/src/web/pool.rs#L34

[2020-02-27 14:08] jyn514 commented on #626
Secondary problem: apparently crates that are fetched but not added to the index will be lost and not build.

[2020-03-01 04:19] #622 closed

[2020-03-01 04:24] jyn514 opened #627 "Add opt-in option to build for one target only"
Almost all of the hard work has been done in #534 and #532. This would allow merging a non-breaking version of #532, enabling cool things like #563 and possibly other issues tagged with `uses-more-storage` (#616, #608 come to mind).

The only thing that needs to change is updating the documentation and still using `TARGETS` instead of only `default-target` if `extra-targets` is unset.

[2020-03-01 15:59] jyn514 opened #628 "Crates that are fetched but not added to the index because of a crash will be lost"
Secondary problem: apparently crates that are fetched but not added to the index will be lost and not build. Relevant code: https://github.com/rust-lang/docs.rs/blob/master/src/docbuilder/queue.rs#L13

_Originally posted by @jyn514 in https://github.com/rust-lang/docs.rs/issues/626#issuecomment-591989434_

`crates-index-diff` just released a change in 5.1.0 that will let us peek without consuming

[2020-03-01 16:10] jyn514 commented on #628
Mentoring instructions:

- In [`get_new_crates()`](https://github.com/rust-lang/docs.rs/blob/master/src/docbuilder/queue.rs#L16), change the line from using `fetch_changes()` to using [`peek_changes()`](https://docs.rs/crates-index-diff/5.1.0/crates_index_diff/struct.Index.html#method.peek_changes).
- After adding all new crates to the queue, call `index.last_seen_reference().set_target(changes)`,

[2020-03-01 22:46] harrisonbrock commented on #628
If this is still open, I would like to work on it.

[2020-03-01 22:52] jyn514 commented on #628
@harrisonbrock go for it! If you have questions, feel free to reach out here or [on Discord](https://discord.gg/f7mTXPW) :)

[2020-03-02 06:47] andoriyu opened #630 "libzetta needs libzfs_core to build"
**Crate name:** libzetta
**Build failure link:** https://docs.rs/crate/libzetta/0.2.0/builds/226022

**Additional details:** I'm confused why is it building docs for all the dependencies even with `--no-deps` specified. I don't want this native dependency to be added to the builder because it's _heavy_.

[2020-03-02 14:17] jyn514 commented on #630
@andoriyu rustdoc needs the dependency because it generates hyperlinks based on the type signature of a function. If the dependencies aren't built, it can't do type checking and so can't generate the hyperlinks.

@GuillaumeGomez might know more about why the dependencies are necessary.

[2020-03-02 20:27] andoriyu commented on #630
@jyn514 I see that makes sense. Reason I opened it as a bug is because libzfs_core is PITA to build and install. Plus it pretty big.

So the only way to fix is to add `libzfs_core`?

[2020-03-02 20:30] jyn514 commented on #630
Yes, unfortunately. How big is big? We have sandbox limits (https://docs.rs/about) that we can raise if necessary, and also we block network access.

[2020-03-02 20:39] andoriyu commented on #630
@jyn514 on public pool in azure pipelines it takes ~5 minutes to install from packages, but it pulls in entire ZOL stack https://dev.azure.com/andoriyu/libpandemonium/_build/results?buildId=308&view=logs&j=fbfd68f3-c45d-5150-490a-ea46a8fff233&t=4d880c2f-7af5-59d0-cc8c-6b0059fc3b5e

I guess since builder is ubuntu based it can install the same packages.

[2020-03-02 20:44] jyn514 commented on #630
Oh that's not bad at all. We preinstall all packages so this would only count the time to build the bindings, not the time to run `apt`.

[2020-03-02 22:57] andoriyu commented on #630
@jyn514 I didn't realize that docs builder is very similar to what i use for CI, so I thought it might be PITA to add. If it's ubuntu than it's easy.

[2020-03-02 23:07] jyn514 commented on #630
Great! If you're interested in adding it yourself, there are instructions at https://forge.rust-lang.org/docs-rs/add-dependencies.html. Otherwise I might get around to it this weekend.

Once it's been added to crates-build-env I can schedule a rebuild so you don't have to publish a new point release.

[2020-03-03 18:17] guswynn opened #631 "Fuzzy search should be configurable"
I was in the std docs, and searched for "then" looking specifically for things that are "then" or "and_then". I ended up getting a LOT of results for "len"

I find that for things like grep, rg, search and replace, ctags, etc., when searching code, I want either exact matches, or exact machines (case insensitive).

Would it be possible to make this exact? or at least configurable?

Thanks!

[2020-03-03 18:22] guswynn commented on #631
This should be for rustdoc, sorry

[2020-03-03 18:22] #631 closed

[2020-03-06 04:01] jyn514 commented on #628
There was a new API added recently that will make this a little easier: https://docs.rs/crates-index-diff/6.2.0/crates_index_diff/struct.Index.html#method.set_last_seen_reference

Also note that we currently use crates-index-diff 4.0, so it will need to be upgraded to at least 5 (preferably 6) to use this new API.

[2020-03-06 05:25] harrisonbrock commented on #628
Thanks. I have been a little sick and have not had a chance to start yet.

[2020-03-06 14:32] jyn514 commented on #628
Get well soon!

[2020-03-07 07:35] jyn514 commented on #563
I have [a possible solution](https://github.com/rust-lang/docs.rs/pull/632) that might help by making new targets opt-in instead of opt-out. No promises, but I hope to have it implemented in the next 2 to 3 weeks. After that is merged I just need to add code that allows non-tier 1 targets to be added at runtime, which will be a fair amount of work but unlikely to break anything.

[2020-03-07 07:53] rubberduck203 commented on #563
That’s promising news. Thanks for the effort you’ve put into this!

[2020-03-07 08:40] jyn514 commented on #563
@rubberduck203 I'm running into some trouble trying to build `thumbv7em-none-eabihf` targets locally.

[code]

I run into the same trouble building with stable instead of nightly.

[2020-03-07 09:36] rubberduck203 commented on #563
That crate requires features from `std`.
The `none` part of the target triple indicates it's a bare metal target, without an OS.
Currently, the Rust std lib relies on an OS being available.

Try this crate, which doesn't rely on the std lib..

[code]

[2020-03-14 15:16] #623 closed

[2020-03-14 19:06] #627 closed

[2020-03-14 21:42] jyn514 commented on #343
Now that #632 is merged, you should be able to opt-in to only building one target with
[code]
See https://docs.rs/about#metadata for full documentation.

[2020-03-15 12:11] jyn514 commented on #459
This is no longer an issue, see https://github.com/SkylerLipthay/schemamama_postgres/pull/7#issuecomment-599164509

[2020-03-15 15:26] adamgreig commented on #608
Any chance of getting these limits raised now that #632 is landed? I'll update the `Cargo.toml` to only build on a single target before releasing, too.

At least the `stm32h7` crate would need an 8GB limit, or if it's possible then 8GB for all these crates would give a bit more breathing room and let us build more complete documentation.

[2020-03-15 15:26] adamgreig commented on #616
Any chance of getting this limit raised alongside #608 now that #632 is in?

Thanks!

[2020-03-15 15:28] jyn514 commented on #608
Sure thing, I can add that today. Sorry for the extended delay, thank you so much for only building on a single target!

[2020-03-15 16:24] jyn514 commented on #608
Just updated the memory limits for `stm32f1`, `stm32f4`, `stm32h7`, and `stm32g4` to 8 GB. Thanks for your patience working with us.

[2020-03-15 16:26] adamgreig commented on #608
Brilliant, thank you!

[2020-03-15 16:26] #608 closed

[2020-03-15 16:29] jyn514 commented on #616
Just updated the memory limit for stm32ral to 8 GB. Could you also set `targets = []` for this crate to avoid unnecessary load on the server? Thanks again for your patience.

[2020-03-15 16:31] adamgreig commented on #616
Great, thank you! I have done so in https://github.com/adamgreig/stm32ral/commit/cd0bfa3386282d6699025daf2a746eba6a8c94ab so will be in the next release.

[2020-03-15 16:31] #616 closed

[2020-03-16 11:55] PonasKovas commented on #403
This is extremely annoying, any progress?

[2020-03-16 12:04] jyn514 commented on #403
This was fixed a while ago but regressed in #637. The fix is waiting on review in #640

[2020-03-17 14:04] jyn514 commented on #403
Reverted #637: #642

[2020-03-17 14:04] #403 closed

[2020-03-17 16:20] AE9RB opened #644 "bin.doc=true and lib.doc=false documents only the lib"
Regarding: docs.rs/basic-lang

This crate has a lib and one bin. All of the documentation is in the bin but only the lib shows up on docs.rs.

It's doing the opposite of what I expect from my Cargo.toml:
[code]

Running cargo doc --open does what I expect.

[2020-03-17 17:02] jyn514 commented on #644
In general we don't document binaries, see e.g. https://docs.rs/bat. Can I ask your use case for putting documentation in the binary instead of in the library?

[2020-03-17 18:00] AE9RB commented on #644
I used the lib for a small proc-macro I don't want to publish as a crate because there things in unstable that would let me git rid of it.

[2020-03-17 18:01] #563 closed

[2020-03-17 23:00] jyn514 commented on #644
Closing as duplicate of https://github.com/rust-lang/docs.rs/issues/238, but I'll keep this case in mind if we ever start documenting binaries.

[2020-03-17 23:00] #644 closed

[2020-03-17 23:01] jyn514 commented on #412
This is now supported! #633

[2020-03-17 23:01] #412 closed

[2020-03-17 23:03] jyn514 commented on #412
Also, I noticed that the libc link is broken (it goes to https://rust-lang.github.io/libc/#platform-specific-documentation which gives a 404). However I assume that libc wants to build for a large number of targets. If you want to build for more than 10 (our current default limit), you can open a new issue and I'll raise the limit.

[2020-03-17 23:13] jyn514 commented on #96
Since we started passing [`--extern-html-root-url`](https://github.com/rust-lang/docs.rs/blob/master/src/docbuilder/rustwide_builder.rs#L446), we no longer read `package.documentation`, so I think this is now feasible to implement. The example given, [`ErrorKind`](https://docs.rs/acme-client/0.5.3/acme_client/error/enum.ErrorKind.html), links to all docs.rs urls in the latest version (except for `

[2020-03-18 03:07] lzutao opened #645 "Winapi's README header is rendered weirdly on docs.rs"
Compare between: https://docs.rs/crate/winapi/0.3.8 and https://github.com/retep998/winapi-rs
![winapi-header](https://media.discordapp.net/attachments/541978667522195476/689669739898732567/unknown.png)

[2020-03-18 14:22] #645 closed

[2020-03-19 11:42] jyn514 commented on #590
There's an extension that adds this already and I like their approach - they put an extra `Features` drop-down in the header at the top.

https://rust-search-extension.now.sh/feature-flags.png

[2020-03-19 16:03] AE9RB commented on #644
I removed the proc-macro so I could use lib for docs. I didn't know that bin docs weren't published. #238 also encountered cargo doc having different behavior. Digging for docs/faq only brought me to information about setting up a dev env. I'm all set now, just wanted to explain the experience that got me here.

[2020-03-19 16:09] jyn514 commented on #148
This is now documented in https://docs.rs/about#metadata.

[2020-03-19 16:09] #148 closed

[2020-03-20 00:33] Byron commented on #628
I hope you are doing better, @harrisonbrock!
In case you need additional support related to how to use crates-index-diff, I am happy to help (_I have authored `crates-index-diff`_).

[2020-03-20 20:54] jamwaffles opened #647 "docs.rs should ignore .cargo/config"
**Crate name:** [`sh1106`](https://crates.io/crates/sh1106)
**Build failure link:** https://docs.rs/crate/sh1106/0.3.0/builds/231814

**Additional details:**

I'm building a no_std crate targeting `thumbv7m-none-eabi`, etc. To get docs.rs builds working again, I added the following to my `Cargo.toml`:

[code]

Which doesn't seem to have an effect, but _only on docs.rs_. If I build it locally using

[2020-03-20 23:20] jyn514 commented on #647
Hmm I thought we fixed this in https://github.com/rust-lang/docs.rs/pull/633 ... In the meantime you can workaround it by removing .cargo/config.

Maybe the issue is that since we don't pass `--target` to cargo it uses the value in `.cargo/config`? In that case setting`default-target` to anything other than `x86_64-unknown-linux-gnu` should also fix the build error.

I wish there were a way to get

[2020-03-20 23:21] jyn514 commented on #647
The fact that it works locally but not in production is also very confusing, I have no idea what could cause that.

[2020-03-20 23:29] jyn514 commented on #647
Oh I do have an idea - if you'd set `target = "thumbv7m-none-eabi"` earlier and run a build it would have cached the toolchain, so it would still be installed even when docs.rs didn't install it later.

[2020-03-20 23:34] jyn514 commented on #147
`cfg(doc)` is now native to rustdoc, would that solve your issue?

[2020-03-21 03:33] retep998 commented on #147
Can that be detected by build scripts?

[2020-03-21 03:59] jyn514 commented on #147
Hmm, I don't think so. I'll see if we can add an environment variable.

[2020-03-21 12:19] jamwaffles commented on #647
That makes sense! I removed every image and volume I had locally and reran the build which reproduces the error I see on docs.rs.

I've changed the docs.rs config in `Cargo.toml` to this now:

[code]

Is that the best way to go? I realise it's a very recent addition but if it works on docs.rs then it works great for me :grin:.

[2020-03-21 12:38] jyn514 commented on #647
Yes, that should work. Thanks for working with us, I'm glad the new feature is helpful!

[2020-03-21 13:16] jyn514 commented on #647
Fixing the root problem should be basically the same steps as https://github.com/rust-lang/docs.rs/issues/555#issuecomment-571950211, rustwide should remove `.cargo/config` before starting the build.

[2020-03-21 14:03] jamwaffles commented on #647
Thanks for the suggestions! My builds are working again. Please close this issue if you think it should be :)

[2020-03-21 14:05] jyn514 commented on #647
I'll open a new issue for ignoring `.cargo/config` so you don't get spammed with notifications.

[2020-03-21 14:05] #647 closed

[2020-03-21 14:05] jyn514 opened #650 "docs.rs should ignore .cargo/config"
Fixing this should be basically the same steps as https://github.com/rust-lang/docs.rs/issues/555#issuecomment-571950211, rustwide should remove `.cargo/config` before starting the build.

_Originally posted by @jyn514 in https://github.com/rust-lang/docs.rs/issues/647#issuecomment-602042380_

[2020-03-21 14:19] jyn514 commented on #147
Mentoring instructions:

- In [`execute_build`](https://github.com/rust-lang/docs.rs/blob/master/src/docbuilder/rustwide_builder.rs#L495), set an environment variable when calling cargo (maybe `DOCS_RS=1`?). It would be nice to add a link to this issue as a comment as well.
- Add documentation to [`templates/about.hbs`](https://github.com/rust-lang/docs.rs/blob/master/templates/about.hbs), maybe n

[2020-03-22 12:15] jyn514 opened #651 "Use --cap-lints warnings to prevent unnecessary failures"
Some crates like to put `deny (warnings)` in their crate root. This is fine for developing locally, but can cause docs.rs builds to fail since new lints may have been added in nightly. docs.rs can avoid these unnecessary build failures by passing `--cap-lints warn` to rustdoc.

Example failure: https://docs.rs/crate/ring/0.16.11/builds/218514

See also: https://doc.rust-lang.org/rustc/lints/levels

[2020-03-22 21:05] andoriyu commented on #630
Any update on this? I don't any macOS or Linux installed anywhere to test it myself.

[2020-03-22 21:13] jyn514 commented on #630
You don't need Mac or Linux to test it, just docker-compose.

[2020-03-23 09:07] elmurci opened #652 "rustfmt is not installed"
**Crate name:**
xpring

**Build failure link:**
https://docs.rs/crate/xpring/0.0.4/builds/232409

**Additional details:**
[INFO] [stderr] out: Output { status: ExitStatus(ExitStatus(256)), stdout: "", stderr: "error: \'rustfmt\' is not installed for the toolchain \'nightly-x86_64-unknown-linux-gnu\'\nTo install, run `rustup component add rustfmt --toolchain nightly-x86_64-unknown-linux-gnu`\n" }

[2020-03-23 12:33] jyn514 commented on #652
Duplicate of #357. I didn't realize it was as easy as installing it with `rustup`, though, that should be a simple fix. I'll add instructions in the linked issue.

[2020-03-23 12:33] #652 closed

[2020-03-23 12:39] jyn514 commented on #357
Mentoring instructions:
- In [`update_toolchain`](https://github.com/rust-lang/docs.rs/blob/master/src/docbuilder/rustwide_builder.rs#L143), call [`toolchain.add_component("rustfmt")`](https://docs.rs/rustwide/0.5.1/rustwide/toolchain/struct.Toolchain.html#method.add_component).

If you have any questions, feel free to reach out here or [on Discord](https://discord.gg/f7mTXPW).

[2020-03-23 13:18] elmurci commented on #357
`add_component` requires two parameters:

`self.toolchain.add_component(&self.workspace, "rustfmt");`

[2020-03-23 13:52] pietroalbini commented on #651
I'm not sure if this is a good idea. `--cap-lints` does indeed ignore custom `#[forbid(...)]` or `#[deny(...)]`, but it also ignores deny-by-default and forbid-by-default lints.

[2020-03-23 14:24] jyn514 commented on #651
If we're building a crate, that means it's already been published to crates.io, which means that someone ran `cargo publish` successfully. So the only lints that will be failing are lints that were introduced in a newer version of `rustdoc`. I don't think it makes sense to fail builds for lints the authors didn't know about - maybe for crater that makes sense, but not for docs.rs.

[2020-03-24 04:14] andoriyu commented on #630
Well, I do need docker though. Anyone, I setup the VM with docker.
Documentation says how to add packages from official repos, but in my case it's from 3rd party PPA.

I tried at least building the docs dirty way. I built the image, but building actual docs isn't working for me:
[code]

send help

[2020-03-24 10:31] jyn514 commented on #630
What are the permissions on `/opt/libzetta-rs` directory on the host? If you can run with RUST_BACKTRACE=1 on the host that would also be helpful.

In the meantime I'll see if I can make that PR to crates-build-env for you.

[2020-03-24 10:56] jyn514 commented on #630
I haven't been able to build this, even installing every package you install on CI. I have the following added:
- zfs-dkms zfsutils-linux libnvpair1linux
- libblkid-dev libattr1-dev libcurl4-openssl-dev libelf-dev libdw-dev cmake gcc binutils-dev libiberty-dev zlib1g-dev libssl-dev
- libzfslinux-dev

but the builder is still telling me libzfs_core not found (I'm building zfs-core-sys 0.1.0 because

[2020-03-24 10:58] jyn514 commented on #630
Oh whoops, our docs on forge are out of date, that should say `DOCS_RS_LOCAL_DOCKER_IMAGE`. I'll update it in a second.

[2020-03-24 14:46] seatonullberg opened #654 "spglib fails to build because of a missing dependency which is not available in the Ubuntu Repositories"
**Crate name:**
spglib

**Build failure link:**
https://docs.rs/crate/spglib/0.1.3
https://docs.rs/crate/spglib/0.1.3/builds/230972

**Additional details:**
I tried to follow the standard procedure of adding the package to the build environment, but the dependency I need is not a package in the Ubuntu Repositories.
The dependency comes from [this repository](https://github.com/atztogo/spglib).

Is

[2020-03-24 16:05] jyn514 commented on #654
As an alternative you could add the C project to the Rust crate as a submodule and compile it in `build.rs` before building the Rust code.

[2020-03-24 16:38] elmurci commented on #357
the solution above didn't work...

[2020-03-24 16:44] jyn514 commented on #357
What do you mean by didn't work? Can you put up a draft branch?

[2020-03-24 17:09] elmurci commented on #357
adding the command:

`self.toolchain.add_component(&self.workspace, "rustfmt")?;`

to `update_toolchain`

[2020-03-24 18:18] seatonullberg commented on #654
@jyn514 What if the Rust bindings are already in a subdirectory of the main C repository?

[2020-03-24 22:18] jyn514 commented on #357
@elmurci can you join the discord so I can help you debug without spamming notifications for people watching the issue? https://discord.gg/f7mTXPW

[2020-03-24 22:23] jyn514 commented on #654
I am not sure how to do it in that case, unfortunately. Maybe you could make a hard-link to the header file and use that if the header file doesn't already exist on the system?

[2020-03-24 23:15] elmurci commented on #357
I managed to fix it. Putting it here as it may help others.
The problem was due to a dependency ([tonic-build](https://github.com/hyperium/tonic/tree/master/tonic-build) having rustfmt in its features section:

[code]

I solved it by disabling `tonic-build`'s `rustfmt` dependency:

[code]

After doing this it built correctly.

[2020-03-26 00:07] filmil opened #655 "How to compile documentation for https://docs.rs/crate/rust_icu_sys"
**Crate name:** `rust_icu_sys`
**Build failure link:** https://docs.rs/crate/rust_icu_sys/0.1.1/builds/233436

**Additional details:**
Hi folks!  I'd like to ask for some guidance regarding the crate `rust_icu_sys` that I maintain.  docs.rs is not able to compile the crate, since compilation requires some additional libraries and tools, like the Unicode ICU library, as well as clang, bindgen, and

[2020-03-26 15:20] pietroalbini opened #656 "Tracking issue: docs.rs leaks memory"
We started noticing that docs.rs occasionally leaks gigabytes of memory at once, causing production outages due to the excessive amount of used RAM.

![2020-03-26--16-19-04](https://user-images.githubusercontent.com/2299951/77663605-87e8d680-6f7d-11ea-94dc-6d77840f11fa.png)

At the moment we're investigating what the root cause is.

[2020-03-26 15:22] pietroalbini opened #657 "docs.rs starts building a crate even when there is not enough RAM"
While investigating #656 we discovered that docs.rs starts building crates even when the host system doesn't have the amount of RAM needed for the build. To avoid making the situation worse in OOM situations we should tweak docs.rs to avoid starting builds when we don't have enough RAM.

[2020-03-26 15:27] pietroalbini opened #658 "Uploading large files to S3 can use an excessive amount of RAM"
While investigating #656 we discovered that our current upload code uses a lot of RAM when uploading large files to S3. Unscientific tests show that the RAM usage is 10x the size of the file we're trying to upload. We should change the implementation to reduce the amount of RAM usage, or to limit how much data we upload at once.

[2020-03-26 18:18] jyn514 commented on #655
clang [should already be installed](https://github.com/rust-lang/crates-build-env/blob/master/packages.txt#L12) in the build environment. I'm not sure what Unicode ICU is, but as long as Ubuntu packages it, you can add it to the environment by [making a PR](https://forge.rust-lang.org/docs-rs/add-dependencies.html). Bindgen will be a little harder because it's not packaged. Have you considered usi

[2020-03-26 19:52] filmil commented on #655
Thanks for the advice. I was looking for recommendations, and this is
exactly what I was looking for.

F

On Thu, Mar 26, 2020 at 11:18 AM Joshua Nelson <notifications@github.com>
wrote:

[2020-03-27 00:24] filmil commented on #655
I think I made some progress as advised, closing this issue.

If you are curious, feel free to look at: https://github.com/google/rust_icu/issues/41

[2020-03-27 00:24] #655 closed

[2020-03-27 00:43] jyn514 commented on #655
I'm glad I could help!

[2020-03-27 08:36] CreepySkeleton commented on #422
Would it be possible to rebuild `derive_builder` `0.8.0`, `0.8.1`, and `0.9.0`?

[2020-03-27 12:49] jyn514 commented on #422
@CreepySkeleton queued and rebuilt! https://docs.rs/derive_builder/0.9.0/derive_builder/

[2020-03-28 19:11] rudedogg commented on #595
Having this issue on an iPhone 6 also, so iOS 12.

[2020-03-29 12:36] #630 closed

[2020-03-29 12:51] jyn514 commented on #658
I think this can be closed now, after profiling the new implementation (unscientifically) it uses 120 MB to upload a 100 MB file, which seems reasonable. Possibly using mmap would reduce that even further if you're interested in that.

[2020-03-30 13:32] pietroalbini commented on #658
Hmm, another possibility to reduce the amount of used RAM is to pass a [streaming body](https://docs.rs/rusoto_s3/0.43.0/rusoto_s3/struct.PutObjectRequest.html#structfield.body) to the request, somehow converting a stream of the file content to it.

[2020-03-30 13:36] #651 closed

[2020-03-30 13:44] jyn514 commented on #658
I think the only way to do that without first reading the file into memory (and copying it into user space and back) is with mmap. I haven't tried to implement this yet though.

[2020-03-30 14:15] Mark-Simulacrum commented on #658
I would not try to do `mmap`. Ultimately that's not even necessarily sound to use in Rust, and regardless, our files are usually on the order of dozens of megabytes at most.

If we do want to optimize, we should avoid using the standard allocator for buffering in memory, instead reading into something like a bump allocator so that we can drop the file contents without potentially increasing fragme

[2020-03-30 14:23] jyn514 commented on #658
I'm onboard with this, the largest file we've served in the last week is only 45 MB. I think it's more important to limit the memory usage in a batch: if we have 1000 files at 10 MB each, that's way more likely to blow out memory than uploading one enormous file.

[2020-03-30 14:25] Mark-Simulacrum commented on #658
Right, yes, if we have problems around memory usage I would personally decrease parallelism rather than try to be smarter about how each file is handled.

Ultimately 99% of the files we upload are probably less than one megabyte.

[2020-03-30 14:36] jyn514 commented on #651
Rebuilt ring: https://docs.rs/crate/ring/0.17.0-alpha.1. The non-alpha version was already working thanks to https://github.com/djc/ring/commit/27a8be5d9ef38b7c18b09a12b8a9af90d4040971.

[2020-03-30 21:12] jyn514 commented on #357
@pietroalbini if `rustfmt` isn't available on the latest nightly, should we refuse to update the toolchain or instead remove the rustfmt component? I lean towards not updating but I could be convinced otherwise.

[2020-03-31 13:20] pietroalbini commented on #357
I'd prefer not updating as well.

[2020-03-31 18:09] theypsilon commented on #422
Could you please rebuild `arraygen`  `0.1.12`?

[2020-03-31 18:43] jyn514 commented on #422
@theypsilon arraygen succeded the first time it was built, there's no need to build it again: https://docs.rs/arraygen/0.1.12/arraygen/

[2020-03-31 19:15] theypsilon commented on #422
It didn't generate all the doc blocks though: https://github.com/theypsilon/arraygen/blob/master/src/lib.rs

It was one of the first days after it started generating docs again, so maybe there was a problem at that time.

[2020-03-31 19:22] jyn514 commented on #422
This doesn't sound related the bug in this issue. Can you open a new issue with more details?

[2020-03-31 22:23] repnop commented on #603
I use the DuckDuckGo bangs feature a lot to search for crates on docs.rs using the `!drs cratename` bang, however it doesn't seem to work with crates that have hyphens in the name like `async-std`, for example. I get redirected to `https://docs.rs/async%2Dstd` -- which upon pasting that looks like its because it percent encodes the hyphen! I wouldn't mind putting in a PR to percent decode the para

[2020-03-31 22:26] jyn514 commented on #603
That's a separate issue from this one, but it would be great to have!

[2020-03-31 22:27] jyn514 opened #670 "Try to percent-decode the crate name if it gives a 404"
This would be great to have, but it should only redirect if the current page would give a 404 to avoid making some crates unnameable.

_Originally posted by @repnop in https://github.com/rust-lang/docs.rs/issues/603#issuecomment-606913272_

[2020-03-31 22:35] jyn514 commented on #670
Hmm this looks a little trickier than I thought at first because `/:crate` and `/:crate/:version` are handled by `rustdoc_redirector_handler` but `/:crate/:version/*.html` is handled by `rustdoc_html_server_handler`, so any changes have to be made to both.

[2020-03-31 23:47] jyn514 commented on #670
See also #105, https://github.com/rust-lang/docs.rs/pull/348

[2020-04-01 14:35] pietroalbini commented on #670
How would this make some crates unnameable? `%` is not allowed in crate names, so if we always urldecode the crate names we would only increase the amount of names we accept.

[2020-04-01 14:44] jyn514 commented on #670
Aha! Perfect, then we can always do url-decode.

Although that now makes me wonder why `iron` isn't doing that for us ...

[2020-04-01 18:52] jyn514 commented on #607
Testing instructions: Once you've gotten set up (either with [docker-compose](https://github.com/rust-lang/docs.rs#development) or [natively](https://github.com/rust-lang/docs.rs/wiki/Developing-without-docker-compose)), run a build for a crate that you know will fail to build. You can choose any crate off of https://docs.rs/releases/recent-failures.

[code]

You can then go to http://localhost:30

[2020-04-01 22:20] jyn514 commented on #656
Possibly fixed by #666. Since it's intermittent, we won't know for a while, though.

[2020-04-01 22:29] jyn514 opened #679 "Consider using iframes for rustdoc HTML files"
One of the things https://github.com/rust-lang/docs.rs/pull/671#issuecomment-607514793, #668, https://github.com/servo/html5ever/issues/414 show is that the live server's performance is very heavily tied to the html parsing (outside of builds). It would be better to instead serve the rustdoc HTML inside of an iframe, but that would require a lot of UI testing we don't currently have.

Related issu

[2020-04-01 22:37] Mark-Simulacrum commented on #679
An alternative to iframes or similar is to instead pre-run HTML parsing on rustdoc output and store the header and body and classes separately, such that we could then template them in quickly.

[2020-04-01 22:39] jyn514 commented on #679
That doesn't help with the existing HTML content, though. Also it would triple the number of files we store on S3, which would have some overhead.

[2020-04-01 22:46] Mark-Simulacrum commented on #679
Well, we could store new files as such (which would over time migrate us over to the new format). With regards to S3, there's no reason we can't pack in theory, for example storing the HTML like: u64 length of head, head raw, body raw

[2020-04-01 23:12] jyn514 commented on #679
Ok, that sounds feasible at least. The other things we would get from inline frames though are
- less network time since we don't have to download the docs ourselves, only link to the s3 bucket
- less processing time since we don't have to do string formatting on files up to 45 MB
- clear separation of rustdoc JS from docs.rs JS (which allows us to make a more strict CSP)

[2020-04-02 00:39] namibj commented on #379
`zstd` supports dictionary compression, where you pre-create the dictionary for a collection of files. This is generally beneficial in the <1MB size range, and should IMO be used for this application.

[2020-04-02 08:34] pietroalbini commented on #679
We should not use iframes:

* Search engines don't recognize the content inside iframes as part of the website's content. This would reduce docs.rs's visibility in search engines a ton.
* We can't serve files from S3 directly, S3 downloads from the internet are *way* more expensive than our CloudFront setup.
* Providing a good UX when clicking links in iframes is not easy.

If we want to remove pa

[2020-04-03 08:46] JAicewizard opened #694 "add `#![feature(negative_impls)]` but negative_impls doesnt exist localy"
**Crate name:**
rustt
**Build failure link:**
https://docs.rs/crate/rustt/0.1.1/builds/235564

**Additional details:**
The logs say I should use `#![feature(negative_impls)]` but 1: I cant find any information about this issue, and most importantly 2: locally using `nightly 2020-03-18` I cant build myself let alone upload to crates.io when adding this crate attribute.

[2020-04-03 10:55] dhardy opened #695 "kas-wgpu build failure"
**Crate name:** kas-wgpu
**Build failure link:** https://docs.rs/crate/kas-wgpu/0.3.0/builds/224255

**Additional details:**
[code]

According to [packages.txt](https://github.com/rust-lang/crates-build-env/blob/master/packages.txt), xcb libraries are already installed. All I need installed for Travis is `libxcb-shape0-dev libxcb-xfixes0-dev` which are included.

Additionally, all dependent packag

[2020-04-03 11:52] jyn514 commented on #694
There is info about negative impls in https://github.com/rust-lang/rust/issues/68318 (there was a link in the long error message).

I'm confused how your crate is building locally without this feature but still having `impl !Trait {}`. Are you using nightly? Does `cargo doc` work locally?

[2020-04-03 11:56] jyn514 commented on #695
The relevant error message is here:

[code]

Crates are not allowed to write to the `src` directory for security reasons (so we only have to download the crate source once and can reuse that for multiple builds). As an alternative you could write files to OUT_DIR: https://doc.rust-lang.org/cargo/reference/environment-variables.html#environment-variables-cargo-sets-for-crates

[2020-04-03 11:57] jyn514 commented on #695
Oops, I misread the error, that's coming from one of your dependencies. You'll have to ask that dependency to stop writing to `src`, or they might have already fixed it in a later release.

[2020-04-03 14:30] JAicewizard commented on #694
yes I am using nightly and it is documenting properly (without `#![feature(negative_impls)]`).
Adding `#![feature(negative_impls)]` makes it not doc and throw the error:
[code]
nightly version is `rustc 1.44.0-nightly (f509b26a7 2020-03-18)` which is the latest according to rustup.

[2020-04-03 16:20] dhardy commented on #695
Ugh, the `clipboard` crate I'm using is really quite dated. Thanks for the help!

[2020-04-03 16:20] #695 closed

[2020-04-03 21:41] jyn514 opened #699 "Building both HOST_TARGET and a different default-target will overwrite the default target"
Consider the following Cargo.toml:

[code]

This sets `default-target` to `"i686-unknown-linux-gnu"` and additionally builds `"x86_64-unknown-linux-gnu"`, which is ([usually](https://github.com/rust-lang/docs.rs/pull/690)) the HOST_TARGET.

Now consider how we currently handle cross-compiling the default target:
1. [Build the target and output it into `target/$target/doc`](https://github.com/rust-

[2020-04-03 23:46] #658 closed

[2020-04-06 15:57] stephaneworkspace opened #701 "docs.rs fail - to much ram ? - crate astrology"
**Crate name:**
astrology

**Build failure link:**
https://docs.rs/crate/astrology/0.1.58/builds

**Additional details:**
To much ram ? This application is 80% svg generate with "svg" crate (src/astrology_draw_svg/svg_draw.*) and one file is big with 2500 lines code (src/astrology_draw_svg/svg_draw.rs)

Thanks in advance

[2020-04-06 17:34] jyn514 commented on #701
The relevant error message is

[code]
It looks like you told bindgen to write to the `src` directory, which is not allowed for security reasons. Instead you can write to OUT_DIR, which is set by cargo at build time.

[2020-04-08 18:30] mikelodder7 opened #702 "docs.rs failed to build hash2curve-0.0.4"
I have published 4 versions of my crate `hash2curve` but only the first one succeeded. The build.log says it ran out of ram or couldn't connect through the network to some external process. I'm not sure why it failed on the most recent 3 but my other crates seem to be working just fine when I publish. Not sure why this one is failing.

[2020-04-08 18:36] jyn514 commented on #702
You can see the build logs [here](https://docs.rs/crate/hash2curve/0.0.4/builds/234884) (linked to from [the crate page](https://docs.rs/crate/hash2curve/0.0.4)). The error is that `doc(cfg)` requires a feature to be enabled:

[code]

[2020-04-09 16:29] jyn514 opened #703 "docs.rs should clean up after itself"
After running the daemon on a server for a while, the `$CRATESFYI_PREFIX/cargo-home` directory can grow to be very large (currently ~45 GB on the docs.rs server). We should clean up build artifacts and source code after building the crate instead of leaving the files around.

[2020-04-09 17:21] #395 closed

[2020-04-09 18:01] jyn514 commented on #656
We haven't had any spikes of this sort in a week, are you comfortable closing this?

![image](https://user-images.githubusercontent.com/23638587/78926099-8550ab80-7a6a-11ea-8a42-a79d90332866.png)

[2020-04-09 18:04] #699 closed

[2020-04-09 18:09] jyn514 commented on #656
Hmm, we don't have any spikes, but we're still using 2 more GB of RAM at rest than after a server restart ... maybe it's worth keeping this open.

![image](https://user-images.githubusercontent.com/23638587/78926754-a06feb00-7a6b-11ea-82dd-f16084550f73.png)

[2020-04-09 22:01] sunshowers opened #704 "docs for guppy 0.1.8 failed to build because of a borrow checker issue in proptest"
**Crate name:** guppy 0.1.8
**Build failure link:** https://docs.rs/crate/guppy/0.1.8/builds/237873

**Additional details:**

It looks like this might be a bug in the latest nightly, since proptest builds fine with rustc stable and earlier nightlies.

[2020-04-09 22:05] jyn514 commented on #704
Unfortunately we don't have a way to chose what version docs are built with ( #506 , #228 ). I can requeue guppy manually once a fixed version of rustc comes out.

[2020-04-10 18:10] repnop opened #708 "Search page shows latest chronological version, not latest semver"
As of the creation of this issue (2020-04-10) the [search page](https://docs.rs/releases/search?query=string-interner) for `string-interner` looks like this:

![image](https://user-images.githubusercontent.com/24203105/79012511-746c6c80-7b34-11ea-99cf-9fc666408cb5.png)

and directs you to the page for version `0.6.4`. However, the latest version of `string-interner` is `0.7.1`, which is detected a

[2020-04-10 18:50] jyn514 commented on #708
Yes, that sounds like the cause. I don't see a great way to fix this since currently searches are done [using SQL only](https://github.com/rust-lang/docs.rs/blob/13eb4e80e16045fa11dcf8292150dea637d17a01/src/web/releases.rs#L247). We could normalize the search results after already picking a crate to show, but I'm a little hesitant to do that without a long-term plan for improving search results.

[2020-04-10 21:40] jyn514 commented on #459
Update: @Kixiron tried to work on it and it goes down a very deep rabbit hole:

- `time 0.1` doesn't support serde, only `time 0.2`
- `iron 0.5.1` only supports `time 0.1`, so we'd have to have _both_ versions
- For some structs, only some of the members are serialized, so we can't use `derive(Serialize)`

[2020-04-10 21:44] Kixiron commented on #459
I think I've come up with a good combined solution, actually. Like Pietro's earlier solution, I think I'm going to make a `ToJson` trait, much like what `rustc_serialize` offers. This will allow much the sane effects that the original impl lends, like only serializing some things, but with the bonus of allowing us to exchange backends much easier. Hopefully, this will allow an upgrade to `serde`/`

[2020-04-11 22:06] #670 closed

[2020-04-12 11:43] denglitong opened #711 "Is it a good idea to distinguish associated method and instance method in docs?"
Well i wonder if it's the right place to say this, if it's not please correct me.
As the follow screenshot shows, i wonder if it's a good idea to make docs better by adding some symbol in the sidebar to distinguish the associated method vs instance mathod?
![image](https://user-images.githubusercontent.com/13757307/79067867-26529700-7cf5-11ea-8132-f196bef130e5.png)
for example we can add something

[2020-04-12 12:03] jyn514 commented on #711
The right place would be https://github.com/rust-lang/rust/issues. Docs.rs just builds the documentation, we don't control what it looks like for the most part.

In response to your question - distinguishing sounds useful but takes up more screen space on the overview, which there's already not very much of. So I wonder if it's worth it given you can just look at the method signature.

[2020-04-12 16:22] #105 closed

[2020-04-13 12:59] denglitong commented on #711
Thanks for your response, I got it.

[2020-04-13 12:59] #711 closed

[2020-04-13 15:18] namibj commented on #379
Preliminary results on just a few hundred crates (specifically, `cargo doc` on `declarative-dataflow`) suggest average compression ratios of >20 with ~0.6 B/cycle (Broadwell, single-threaded) decompression speed for the html files, (individually-handled) with a (precisely) 110KiB dictionary (shared between the ~59MiB (uncompressed) of html files). Testing recorded at < https://asciinema.org/a/kpxn

[2020-04-14 08:27] pietroalbini commented on #459
Couldn't you use [`#[serde(skip)]`](https://serde.rs/field-attrs.html#skip) on the members we don't want to serialize?

I still prefer that we use derives whenever possible.

[2020-04-14 12:24] Kixiron commented on #459
Yah, I figured it all out in #709, there was some weirdness but I got it

[2020-04-14 20:40] sunshowers commented on #704
I've released a new version of guppy since so no longer need this. thanks!

[2020-04-14 20:41] #704 closed

[2020-04-15 14:32] pietroalbini opened #718 "Separate normal and deprioritized crates in the queue size metric"
Now that we implemented automatic deprioritization for large projects (#714) we should extend the metrics exposed by docs.rs to our monitoring system to account for that.

I'd love for the `docsrs_queued_crates_count` metric to be split into two:

* `docsrs_queued_crates_count` with the queued crates that have a neutral or positive priority
* `docsrs_deprioritized_queued_crates_count` with the que

[2020-04-15 14:45] jyn514 opened #719 "Use ON CONFLICT DO UPDATE instead of rewriting it manually"
@pietroalbini pointed out in https://github.com/rust-lang/docs.rs/pull/643#discussion_r408852995 that code that looks like

[code]

can be simplified to

[code]

It would be great to do this for other similar patterns in docs.rs:

- [`add_package`](https://github.com/rust-lang/docs.rs/blob/master/src/db/add_package.rs#L53)
- [`update_release_activity`](https://github.com/rust-lang/docs.rs/blob/mas

[2020-04-16 00:19] github-actions[bot] opened #720 "RUSTSEC-2019-0031: spin is no longer actively maintained"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `spin`                      |
| Version             | `0.5.2`                   |
| URL                 | [https://github.com/mvdnes/spin-rs/commit/7516c80](https://github.com/

[2020-04-16 00:22] jyn514 commented on #720
Dependency tree:

[code]

Looks like this needs to be fixed upstream - the latest version of prometheus is 0.8 and they still depend on spin.

[2020-04-16 21:43] #24 closed

[2020-04-17 09:43] Nemo157 opened #722 "Redirect to latest version when latest version is missing platform 404s"
Example page: https://docs.rs/libc/0.1.5/x86_64-pc-windows-gnu/libc/funcs/extra/winsock/index.html, clicking "latest version" will redirect to https://docs.rs/libc/0.2.69/x86_64-pc-windows-gnu/libc/?search=winsock which 404s as 0.2.69 doesn't have docs built for `x86_64-pc-windows-gnu`.

At this point I guess the choice is to redirect to default-target, or just go to the crate root page.

[2020-04-17 10:55] pftbest commented on #607
The same problem with binary crates. They all lost the source code too. Examples: cargo-bloat, ripgrep.

[2020-04-17 12:11] jyn514 commented on #722
You mean /crate? I'd rather not redirect there from a doc page, most people just see it as an inconvenient step in the way of the docs. Redirecting to the default target sounds fine.

[2020-04-21 03:54] ppamorim opened #725 "Low FPS on Safari 13.1"
I noticed a low FPS when opening the docs on Safari 13.1. This problem does not happen when the page is not focused and does not happen on Chrome. I do not use any extension.

I tested the page by compiling the source code from this repo and configuring it to create the docs for the crate postgres.

I have recorded two videos showing the problem, being the first one a screen recording (less notici

[2020-04-21 04:08] jyn514 commented on #725
Possibly related to #595

[2020-04-22 00:09] grovesNL opened #726 "wgpu 0.5 docs build failure"
Hi! Could we request for the docs for wgpu 0.5 to be rebuilt? They failed due to [a bug in the nightly rustc](https://github.com/rust-lang/rust/issues/70874) at the time (`rustc 1.44.0-nightly (b543afca9 2020-04-05)`) at the time, which has been fixed by https://github.com/rust-lang/rust/pull/71059.

**Crate name:** wgpu (version 0.5)
**Build failure link:** https://docs.rs/crate/wgpu/0.5.0/builds

[2020-04-22 00:37] jyn514 commented on #726
Queued and rebuilt! https://docs.rs/wgpu/0.5.0/wgpu/

[2020-04-22 02:07] grovesNL commented on #726
Great, thank you!

[2020-04-22 03:49] sunjay commented on #614
@jyn514 any update on this issue? Is there a way to fix this?

[2020-04-22 12:11] darlaam opened #727 "Fails to build doc"
**Crate name:** guidon
**Build failure link:** https://docs.rs/crate/guidon/0.1.0/builds/242520

**Additional details:** works using `cargo doc` in the clone project.
Logs claims that jsonnet-sys is not a git repository ?

[2020-04-22 12:21] jyn514 commented on #727
This looks like `jsonnet-sys` is trying to write to the `src` directory, which is not allowed:
[code]

Unfortunately there is not a more recent release of jsonnet-sys, so you will have to open an issue with that project. They could instead write to `$CARGO_OUT_DIR`, an environment variable set by cargo that we make sure is read/write.

[2020-04-22 12:26] darlaam commented on #727
Ok, thanks.
I'll see if I can get rid of this dependancy....

[2020-04-22 12:26] #727 closed

[2020-04-22 12:37] jyn514 commented on #614
@sunjay see https://github.com/rust-lang/docs.rs/pull/322#issuecomment-617752747

[2020-04-22 17:15] jyn514 commented on #656
Someone on hackernews suggested using processes instead of threads, which would automatically clean up resources on panics: https://news.ycombinator.com/item?id=22946237

Not sure how crucial that is at the moment, but if we start having issues again it's certainly something to consider.

[2020-04-22 17:17] Mark-Simulacrum commented on #656
That's true, but I think the main concern in my mind right now is the high baseline memory usage. I wouldn't expect a docs.rs idling (i.e. not serving requests) to need, well, really any memory (a hundred megabytes seems more than enough). It would be helpful to narrow down what is using memory in the current process architecture.

[2020-04-23 12:42] stefan-k opened #728 "docs.rs failed to build argmin-0.2.6"
**Crate name:** argmin
**Build failure link:** https://docs.rs/crate/argmin/0.2.6/builds/206318

**Additional details:**
Hi,

First of all thanks for providing this amazing service!
It was just pointed out to me that the docs of the [argmin](https://crates.io/crates/argmin) crate were not built successfully. It worked for 0.2.4, but fails since 0.2.5. I have to admit that I'm a bit lost and don't

[2020-04-23 14:05] jyn514 commented on #728
Hmm, this is interesting, `cargo +nightly doc --lib --no-deps` doesn't compile `openblas-sys` when I run it locally, but it does in a docs.rs instance.

[2020-04-23 14:21] jyn514 commented on #728
Aha, the issue is that even though `openblas-sys` is a dev-dependency on master, it is a normal dependency on `argmin 0.2.6`.

[2020-04-24 04:51] stefan-k commented on #728
This is strange. I can't find `openblas-sys` in the `Cargo.toml` of 0.2.5 ([here](https://github.com/argmin-rs/argmin/blob/18f2c23e7b8776fbdcc74961194886d98222f694/Cargo.toml)). So I thought maybe you meant via argmin_core 0.2.5, but I also can't find it [there](https://github.com/argmin-rs/argmin-core/blob/ab126f81a1d5cf3c4c59e7c5ab90754cb93dac6f/Cargo.toml). So I guess it must be via another dep

[2020-04-24 06:07] Srinivasa314 opened #729 "Crate does not appear in docs.rs"
In my crate https://crates.io/crates/safe-linked-list documentation does not appear eventhough
`cargo doc --open` works.The link https://docs.rs/crate/safe-linked-list/0.1.1 does not even work.
I yanked version 0.1.0 due to the same issue.

[2020-04-24 07:28] Srinivasa314 commented on #729
I just didn't wait for enough time.

[2020-04-24 07:28] #729 closed

[2020-04-24 12:21] jyn514 commented on #728
I recommend using `cargo tree`, which will show you which dependencies you pull in and why.

[code]

[2020-04-24 13:13] stefan-k commented on #728
Thanks for the tip!
I guess this is solved, so I'll close it.

[2020-04-24 13:13] #728 closed

[2020-04-24 17:51] jyn514 commented on #590
Relevant code:
- [header template](https://github.com/rust-lang/docs.rs/blob/master/templates/navigation_rustdoc.hbs#L103)
- [adding releases to the database](https://github.com/rust-lang/docs.rs/blob/master/src/db/add_package.rs#L28)
- [`Cargo.toml` parsing](https://github.com/rust-lang/docs.rs/blob/master/src/utils/cargo_metadata.rs#L26) - note that this is `CargoMetadata`, not `Metadata`. `Meta

[2020-04-25 11:59] pickfire commented on #238
@jyn514 Do we need to get an RFC for this to allow documentation for binary?

[2020-04-25 12:09] jyn514 commented on #238
@pickfire no, this does not need an RFC. To get this implemented, we need to

- Stop [passing `--lib`](https://github.com/rust-lang/docs.rs/blob/master/src/docbuilder/rustwide_builder.rs#L467) to cargo
- Stop [filtering out binary targets](https://github.com/rust-lang/docs.rs/blob/master/src/utils/cargo_metadata.rs#L85)
- Decide what to do if there are multiple binaries. I think if one has `defaul

[2020-04-25 12:09] jyn514 commented on #238
I'm happy to mentor or take PRs for this but I won't have time to work on it myself in the near future.

[2020-04-25 15:02] will-in-wi opened #732 "JSON crate link redirecting to malware"
This page: https://docs.rs/json/0.11.14/json/

Has a link to "http://terhix.com/doc/json/" under "Complete Documentation". This goes through a bunch of redirects and ends up on a malware page:

<img width="1195" alt="Screen Shot 2020-04-25 at 9 58 54 AM" src="https://user-images.githubusercontent.com/1298231/80283217-97258600-86db-11ea-8785-dec950844fec.png">

It seems like this happens somewhat r

[2020-04-25 15:03] will-in-wi commented on #732
Here's some curl output:
[code]

[2020-04-26 08:19] Nemo157 commented on #732
See also https://github.com/maciejhirsz/json-rust/issues/169

[2020-04-26 10:45] Folyd opened #733 "_/- redirection does not work for rustdoc paths"
Thanks #712 fixes the crate name unequal on -/_ bug. https://docs.rs/async_std can redirect to https://docs.rs/async-std/1.5.0/async_std/ . However, some path still get 404 `The requested resource does not exist`, for example, this URL: https://docs.rs/async_std/1.5.0/async_std/task/fn.spawn.html

[Rust Search Extension](https://github.com/huhu/rust-search-extension) shipped a new feature in recen

[2020-04-26 13:21] jyn514 commented on #733
This seems to me like a bug in Rust Search Extension. We intentionally did not redirect for exact paths under the rationale that if you had an exact path, you already knew the exact name of the crate. I think it would be better to fix Rust Search Extension to instead use the proper url.

[2020-04-26 14:50] Folyd commented on #733
I don't think this is a bug of the extension. I mean https://docs.rs/async_std/1.5.0/async_std/task/fn.spawn.html should also be redirected to https://docs.rs/async-std/1.5.0/async_std/task/fn.spawn.html .

[2020-04-26 15:14] jyn514 commented on #733
I understand what you're asking, I'm saying this would be difficult on our end and I don't see the benefit since the only people using that path seem to be your search extension.

[2020-04-26 15:21] jyn514 commented on #733
I'm willing to take a PR adding this but otherwise I don't plan on working on it. The PR should

- include tests using `crate::test::wrapper`
- redirect to the normalized url only if the original file was not found

You can find the normalized url using the index in the database, see https://github.com/rust-lang/docs.rs/blob/master/src/web/mod.rs#L265 for an example.

[2020-04-26 15:25] Folyd commented on #733
Thanks, @jyn514 . I think I can do this. 😸

[2020-04-26 15:34] jyn514 commented on #733
See also [`assume_exact`](https://github.com/rust-lang/docs.rs/blob/master/src/web/mod.rs#L208) and [`rustdoc_html_server_handler`](https://github.com/rust-lang/docs.rs/blob/master/src/web/rustdoc.rs#L211).

[2020-04-27 13:55] pietroalbini commented on #732
Thanks for reporting this!

We removed the links to the terhix.com domain.

[2020-04-27 13:55] #732 closed

[2020-04-27 14:02] pietroalbini opened #735 "Stop storing and rendering readmes"
One of the features of the ["crate details page"](https://docs.rs/crate/serde/1.0.106) is showing the crate's README, and this is currently implemented by storing the markdown in the database and rendering it on the fly.

This feature is also present on crates.io though, and crates.io solved this by pre-rendering the READMEs in HTML and storing them on the CDN:

[code]

We could reduce duplication

[2020-04-29 08:50] jonathanpallant commented on #444
So, it seems rust-bindgen isn't packaged for focal (20.04) yet. I presume that means someone needs to do some work to package it?

[2020-04-29 12:37] jyn514 commented on #444
That's correct. I didn't realize that packages for 19.04 weren't automatically transferred over to 20.04, that seems like a shame.

[2020-04-29 12:53] jyn514 commented on #444
Another alternative I just thought of is to install bindgen on the host toolchain with the rest of the toolchain components. Rustwide exposes a [cargo command](https://docs.rs/rustwide/0.5.1/rustwide/toolchain/struct.Toolchain.html#method.cargo) - cc @pietroalbini , if I run `cargo install bindgen` with that, will `bindgen` be in PATH inside the build environment?

[2020-04-29 13:25] pietroalbini commented on #444
It should be.

[2020-04-29 14:19] Folyd commented on #733
This is fixed by #736

[2020-04-29 14:19] #733 closed

[2020-04-29 14:20] jyn514 commented on #733
Deployed, https://docs.rs/async_std/1.5.0/async_std/task/fn.spawn.html no longer gives a 404 :)

[2020-04-29 14:23] Folyd commented on #733
Wow, I can't believe this is so efficient to ship production! 🎉🥳

[2020-04-30 20:54] vlmutolo opened #737 "mutable argument name replaced with `__arg0` in async fn doc"
## Summary
When generating documentation for async functions, `cargo doc` will replace mutable argument names with `__arg0`.

## How to Reproduce
[code]

Then view the documentation generated for `foo`. It should look like the following.
[code]

## Version Info
`rustc 1.43.0 (4fb7144ed 2020-04-20)`

I'm not sure how to find the exact `cargo doc` version, but I just did `rustup update` and it updat

[2020-04-30 21:25] jyn514 commented on #737
This is an issue with rustdoc, not with docs.rs. Can you open it on https://github.com/rust-lang/rust/issues/ instead?

[2020-04-30 21:25] #737 closed

[2020-04-30 21:54] vlmutolo commented on #737
Shoot. My bad. I’ll post it there.

[2020-05-01 20:47] Kixiron opened #740 "Switch templating to Tera"
The current templates have lots of redundancy, breaking things into smaller units will help with consistency across pages and maintainability

[2020-05-03 14:15] antoyo commented on #118
This has been somehow removed.
Can we add this back?

[2020-05-03 14:23] jyn514 commented on #118
It seems this was removed in https://github.com/rust-lang/docs.rs/pull/611, cc @GuillaumeGomez . I think it should be as easy as adding back `tabindex="-1"`?

[2020-05-03 14:25] GuillaumeGomez commented on #118
Normally it should be just that, indeed. Want me to send the PR?

[2020-05-03 14:26] jyn514 commented on #118
That would be great :)

[2020-05-03 14:30] GuillaumeGomez commented on #118
Opened #741. :)

[2020-05-04 02:46] jyn514 commented on #107
Closing as duplicate of https://github.com/rust-lang/docs.rs/issues/708

(I know this issue came first but the other has more discussion)

[2020-05-04 02:46] #107 closed

[2020-05-04 04:01] jyn514 opened #745 "Remove environment variables from docker-compose.yml"
Currently we have both `environment` and `env_file`. Since we have reasonable defaults in `.env.sample `, there's no need to have the explicit variables and they seem to be overriding the env file:

[code]

[2020-05-04 07:44] Nemo157 commented on #745
Those settings won't work locally though, e.g. when running the tests locally against the dockerized database you need to have a different `CRATESFYI_DATABASE_URL`. It might work if there's a separate `.env.docker` file or something, maybe along with a `.env.docker-override` being loaded but not distributed.

[2020-05-04 12:58] jyn514 commented on #745
Hmm, this is a good point, you could want the docker-file to have different variables than local tests. Looking at the docs it seems that the variables in the file always override .env files. I think in that case leaving it as-is is fine and we can just document that you have to pass `-e` if you want to do anything fancy.

https://docs.docker.com/compose/environment-variables/

[2020-05-05 19:01] Kixiron opened #748 "Show list of crate features"
Showing a list of available features for a crate would be very useful, as it would allow users to at a glance see what features a crate has

[2020-05-05 19:23] jyn514 commented on #748
Duplicate of https://github.com/rust-lang/docs.rs/issues/590

[2020-05-05 19:23] #748 closed

[2020-05-06 09:04] Nemo157 commented on #590
One change I would suggest for the example drop-down would be to highlight the `default` feature, maybe by moving it to the top and adding a little whitespace/horizontal rule between it and the rest.

[2020-05-06 11:34] Freax13 commented on #650
i'll try working on it

[2020-05-06 12:54] Freax13 commented on #555
I have trouble implementing the test for this.

I tried
[code]
but this doesn't work because it ignores the `rust-toolchain` file anyways. I'm not sure what causes rustup to install the new toolchain with docs.rs and not with the test

[2020-05-06 13:03] #719 closed

[2020-05-06 13:25] jyn514 commented on #555
It seems the behavior of docs.rs has changed since the issue was opened.
[code]
We'll have to figure out where this new panic is coming from, it only happens in crates with this toolchain error (I checked with `target_lexicon 0.10.0` and a custom test that only had `default-run = "toolchain-test"` in Cargo.toml and `1.34.0` in `rust-toolchain`).

[2020-05-06 13:33] #112 closed

[2020-05-06 13:46] Nemo157 commented on #396
Should be fixed by #739, the futures crate is no longer a good testcase unfortunately, but there's internal tests covering it.

[2020-05-06 13:46] #396 closed

[2020-05-06 13:53] jyn514 commented on #561
Fixed by https://github.com/rust-lang/docs.rs/pull/739

[2020-05-06 13:53] #561 closed

[2020-05-06 13:56] Nemo157 opened #749 "Go to latest should not consider prereleases (unless there are only prereleases)"
Example: <https://docs.rs/nemo157/0.3.0/nemo157/> shows "Go to latest" linking to <https://docs.rs/nemo157/0.3.1-pre.1/nemo157/index.html>.

Need to also take yanked into account, I think it should go through these four subsets, showing the first that gives any result:

 * latest non-prerelease non-yanked version
 * latest prerelease non-yanked version
 * latest non-prerelease yanked version
 * la

[2020-05-06 15:07] Nemo157 commented on #614
with #739 yanked is now automatically updated for new crates, and @jyn514 has just imported missing yanks up to now, so https://docs.rs/turtle now redirects to the latest prerelease.

[2020-05-06 15:07] #614 closed

[2020-05-06 15:09] sunjay commented on #614
Thanks! This is awesome. Everything works really well now 😊

[2020-05-06 15:09] Nemo157 commented on #158
@sunjay with #614 fixed so that the yanked status of 0.1.* is updated, do you still want the docs fully removed? The old versions show warnings that they are yanked and suggest redirecting to the prereleases.

[2020-05-06 15:11] sunjay commented on #158
Yes, that would be great. Those versions were for a different crate that used to use that name. Removing them will avoid some confusion so please do that. Thanks!

[2020-05-06 15:13] jyn514 commented on #158
We have a way to delete entire crates (`delete-crate`), but it sounds like you're asking for specific versions to be removed which is a little harder.

[2020-05-06 15:15] sunjay commented on #158
Yes. I only want the 0.x versions removed. Back when this issue was created those were the only versions. :sweat_smile:

[2020-05-06 16:34] Nemo157 commented on #725
After some testing it seems like these safari scrolling issuers are more related to the `.focus()` calls in the javascript than the `position: fixed` css. Commenting out all focusing seems to fix the lagginess.

[2020-05-06 17:05] pietroalbini commented on #158
I'm wondering if we should just hide the documentation of all yanked crates.

[2020-05-06 17:07] #725 closed

[2020-05-06 19:34] Freax13 commented on #555
running `RUST_BACKTRACE=1 RUST_LOG=info cargo run build crate target-lexicon 0.10.0` works for me

[2020-05-06 19:40] jyn514 commented on #158
Currently what we do is we don't show them unless you explicitly go to the link, and all the links to it have a big warning sign in addition to the 'this crate has been yanked' banner.

![image](https://user-images.githubusercontent.com/23638587/81220725-ca0b2c00-8faf-11ea-9e56-da430fc6593e.png)

![image](https://user-images.githubusercontent.com/23638587/81220798-e909be00-8faf-11ea-8035-ec25ab73f

[2020-05-06 19:41] sunjay commented on #158
Yeah I'd be fine with them just being deleted for the `turtle` crate. I can see why building something more general might cause unexpected issues.

[2020-05-06 19:42] jyn514 commented on #555
Yes I was a little unclear sorry - `target-lexicon` builds successfully but the `toolchain-test` crate did not.

[2020-05-06 19:59] Freax13 commented on #555
the error is coming from https://github.com/rust-lang/docs.rs/blob/103cacc61f544df48e20ff8a00830f7a40139b06/src/db/add_package.rs#L303

[2020-05-06 20:06] Freax13 commented on #555
okay, so for some reason `get_release_time_yanked_downloads` is called which tries to download the info about `toolchain-test` from crates.io (https://crates.io/api/v1/crates/toolchain-test/versions).

I'm not sure if this is related to removing the `rust-toolchain` file

[2020-05-07 00:41] Kixiron commented on #158
I'm not necessarily against hiding (and potentially deleting, we need to do an audit of how much space is taken up by yanked crates) yanked docs, but it'll inevitably bring up the question/objection that we aren't supposed to be the ones who decide that docs aren't shown. Like I said, I'm not against it though, as I personally feel like someone who's using yanked crates can be reasonably expected

[2020-05-07 13:20] jyn514 commented on #725
@ppamorim we just deployed a possible fix, can you check https://docs.rs/postgres/0.17.3/postgres/ and see if the problem is still there?

[2020-05-07 17:18] jyn514 commented on #650
This won't be fixed until we bump the version of rustwide.

[2020-05-08 22:35] #489 closed

[2020-05-08 23:13] tinaun opened #751 "docs.rs/std/<path>?<args> should redirect path and args to doc.rust-lang"
it trips me up when docs.rs/std/ works but docs.rs/std/io doesn't

[2020-05-08 23:42] jyn514 commented on #751
Mentoring instructions:

- In `build_routes`, for each redirect to `doc.rust-lang.org`, add a route for `/{route}/*`

https://github.com/rust-lang/docs.rs/blob/267adcaf16a4fe885a248b3ffbee1320ad01eb11/src/web/routes.rs#L129

- Change `RustLangRedirector` to accept routes other than a `&'static str`. You will have to refactor it slightly since it currently always redirects to a fixed URL instead of

[2020-05-08 23:50] jyn514 commented on #489
The new behavior for `tokio` is
1. `tokio`
2. `tokyo`
3. `tokio-h2`
... various other `tokio-` crates

The new behavior for `Tokio` is
1. `tokio`
2. `tokio-h2`
... various other `tokio-` crates

[2020-05-08 23:51] jyn514 commented on #156
Fixed in #721

[2020-05-08 23:51] #156 closed

[2020-05-09 00:34] Kixiron opened #752 "Document Docs.rs"
Crates.io does a pretty good job of this with their [docs folder](https://github.com/rust-lang/crates.io/tree/master/docs) and I think that it'd be really worth it to put down the hows and whys of docs.rs so that incoming contributors can get a jump start in understanding the codebase

[2020-05-09 00:35] Kixiron commented on #740
This has now changed slightly, I've been investigating the [tera](https://github.com/Keats/tera) templating engine as a suitable replacement for handlebars

[2020-05-09 00:55] jyn514 commented on #752
Just writing some notes up without making it as formal as a PR:

- There's three main modules:
    1. `web`
    2. `docbuilder`
    3. `db`
`web` is the frontend server, `docbuilder` is what builds the crates from crates.io, `db` interfaces with the database. There is also a `utils` module that is used everywhere and should probably be split up into the relevant modules

- The `docbuilder` uses [`

[2020-05-09 01:08] Kixiron commented on #752
Some additional things:
- I think that testing could honestly get its own section, even without a `minicrater` type of project, as it involves database, frontend, request and "normal" testing all at the same time
- Frontend should maybe get its own section, as even if it's not *currently* complex, in the future it may grow to something that's more separate of a component
- General developer docume

[2020-05-09 02:02] Kixiron opened #753 "Website internationalization"
Internationalizing the parts of the website that are ours (not rustdoc output) would be a nice thing to have, but it's a lot of work on the software and manpower sides, as it requires multiple native-speakers to translate and verify each language

[2020-05-09 07:41] pietroalbini commented on #753
If we do want to enable localization on the website we already have the translation tool (pontoon.rust-lang.org) and the localization teams (from the website).

[2020-05-13 23:46] sunjay opened #754 "Local builds not allowed by structopt configuration"
The move to structopt #716 seems to have broken the ability to run `--local <path>` builds. If you try to do so, you get an error that says that `<CRATE_NAME>` and `<CRATE_VERSION>` arguments are required.

[code]

You can fix this by changing `required_unless("LOCAL")` to `required_unless("local")`, but then you will get a panic at runtime because there is no default specified for the `crate_name

[2020-05-14 00:16] sunjay opened #755 "Document need to add-essential-files"
If you don't run the command below, you will not be able to load CSS when running docs.rs locally. This should probably be documented in the README as it took quite a lot of time (and some help) to find.

[code]

[2020-05-14 00:17] jyn514 commented on #754
This seems to work:
[code]
This is still calling `unwrap()`, but it does it _after_ arguments have been parsed instead of before, so it only calls unwrap if --local was not passed.

cc @Kixiron

[2020-05-14 00:20] jyn514 commented on #755
@sunjay most of the website will be very broken unless you run at least one build first, not just the CSS. For example, many pages will return 404s even though they work fine in production. We don't document this explicitly but the example in the readme does show running a build before starting the server: https://github.com/rust-lang/docs.rs#getting-started

If you want to document this, it would

[2020-05-14 00:23] sunjay commented on #755
I ran a local build, but maybe I needed to build at least one other crate first?

[2020-05-14 00:25] Kixiron commented on #754
That's my bad, extracting stuff from clap was a bit difficult, sorry I missed it

[2020-05-14 00:25] jyn514 commented on #755
Hmm if you ran a build first then this is a bug, we should have run `add-essential-files` under the hood. I'll look into it.

[2020-05-14 00:28] sunjay commented on #754
No problem! I saw the PR and what you had to deal with. Glad it's an easy fix. :)

[2020-05-14 00:29] #754 closed

[2020-05-14 00:30] sunjay commented on #755
To give you some more details, I ran the following:

[code]

If running this doesn't reproduce the error for some reason, it might just be something on my machine.

[2020-05-14 01:25] jyn514 commented on #755
Unfortunately I was not able to reproduce the issue. If you figure out how to make it happen consistently, please do let me know!

[2020-05-14 01:25] #755 closed

[2020-05-14 01:26] sunjay commented on #755
Thanks for looking into it!

[2020-05-14 12:29] fschutt opened #757 "azul-desktop failed to build"
**Crate name:** [azul-desktop](https://docs.rs/azul-desktop)
**Build failure link:** https://docs.rs/crate/azul-desktop/0.0.5/builds/250073

**Additional details:** It seems that azul-desktop expects xcb to be present (azul uses it for managing the system clipboard), but it isn't installed?

[2020-05-14 12:33] jyn514 commented on #757
The relevant error is
[code]

IIRC this was fixed in xcb 0.9, you could try updating.

[2020-05-17 16:30] ppamorim commented on #725
@jyn514 Thank you very much! This beauty is running smooth at 144hz now!

[2020-05-18 00:22] github-actions[bot] opened #760 "RUSTSEC-2020-0016: `net2` crate has been deprecated; use `socket2` instead"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `net2`                      |
| Version             | `0.2.34`                   |
| URL                 | [https://github.com/deprecrated/net2-rs/commit/3350e3819adf151709047e

[2020-05-18 00:22] github-actions[bot] opened #761 "RUSTSEC-2018-0017: `tempdir` crate has been deprecated; use `tempfile` instead"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `tempdir`                      |
| Version             | `0.3.7`                   |
| URL                 | [https://github.com/rust-lang-deprecated/tempdir/pull/46](https://g

[2020-05-18 07:40] Nemo157 commented on #760
This is coming in from `hyper` (https://github.com/hyperium/hyper/issues/2205) and `mio` (no upstream issue yet).

[2020-05-18 08:01] Nemo157 commented on #761
#762 removes our local usage of it, there's still upstream usage in `params` and `multipart`, those may be dropped as dependencies along with `iron`, so probably just something to keep an eye on as that happens.

[2020-05-18 09:25] Nemo157 commented on #760
`mio` v0.7 has moved `net2` to be just a dev-dependency, presumably this will be included with `tokio` v0.3 which is currently ~2 months past its [expected release](https://tokio.rs/blog/2019-11-tokio-0-2/#how-to-get-there).

[2020-05-20 01:46] pickfire commented on #238
Now I am wondering what to document in a binary. I think it is possible to put what needs to be documented in lib.rs.

But looking at the source, I think it would be good if it shows the binary and examples probably?

[2020-05-20 07:33] phil-opp commented on #650
I'm maintaining a crate whose docs.rs builds fail because of this issue. Do you plan to bump `rustwide` soon or should I try work around it?

[2020-05-20 08:25] Nemo157 commented on #650
#758 will have a `rustwide` bump once the async changes are released, though that may take some time, so a small PR bumping to 0.7.0 to get this fix out seems useful.

[2020-05-20 08:44] Nemo157 commented on #238
Unless you are filtering them out explicitly Cargo will include the example and binaries into the packaged crate.

One issue with this is that the default binary and the library have the same target name, so you get a warning and lose the output from one if you build both:

[code]

I also think this could also need some work on the rustdoc side to make it first class:

1. It should be possible to

[2020-05-20 13:09] jyn514 commented on #650
I'll make a PR updating it.

[2020-05-20 13:11] phil-opp commented on #650
Thanks a lot!

[2020-05-20 13:44] #650 closed

[2020-05-20 14:09] mahkoh opened #764 "Going back from source requires three clicks"
See https://a.pomf.cat/qyfvmb.webm

[2020-05-20 14:29] phil-opp commented on #650
That was quick, thank you! Is there a way to rerun a failed docs.rs build or do I need to push a new version?

[2020-05-20 14:30] jyn514 commented on #650
I can rerun the build for you. What crate and version?

[2020-05-20 14:52] #626 closed

[2020-05-20 15:46] jyn514 commented on #650
I guessed that it was `bootloader 0.9.3`, it just rebuilt successfully :) https://docs.rs/crate/bootloader/0.9.3

[2020-05-20 16:04] jyn514 commented on #764
I can't replicate with firefox, what browser are you using? https://a.pomf.cat/ohdprb.mkv

[2020-05-20 16:09] pickfire commented on #238
@Nemo157 Ah, I didn't mean to document examples or binaries straight away, of course it might still be useful to document `pub` items in binary to show others like the command line arguments the application accepts.

What I meant is the examples seemed to be missing from https://docs.rs/crate/clap/2.33.1/source/

[2020-05-20 16:26] Nemo157 commented on #238
That’s because `clap` explicitly excludes its examples from being published:

[code]

[2020-05-20 16:31] mahkoh commented on #764
I'm using chromium. I believe the cause is this part of the site which changes the location object:

[code]

According to the spec, under some arcane conditions, changing the hash causes a new history entry to be created (in the spec language: the previous entry to not be replaced): https://html.spec.whatwg.org/multipage/history.html#location-object-setter-navigate

[2020-05-20 16:44] jyn514 commented on #764
cc @GuillaumeGomez , @Nemo157 , this looks related to #750

[2020-05-20 16:45] jyn514 commented on #764
Would a possible workaround be to remove the messing around with `window.location.hash` and instead just call `doc_body.focus()` in the setTimeout?

[2020-05-20 19:19] GuillaumeGomez commented on #764
I'm not even sure why it has been done like this in the first place...

[2020-05-20 20:25] Nemo157 commented on #764
I couldn't figure out what the `focus` calls were even meant to be doing, or how to navigate the menu with the keyboard, which is why I was very glad to find out just a css change in #750 was enough to fix the performance and I could just ignore the JS.

[2020-05-20 20:28] GuillaumeGomez commented on #764
Then maybe let's remove this code and see if anyone complains?

[2020-05-21 00:32] pickfire commented on #238
Oh, sorry. I didn't notice that.

[2020-05-21 07:14] Richard-W opened #765 "Stale caching of crate that has apparently been deleted from crates.io"
My crate 'advantage' has two published versions on crates.io (0.0.0 and 0.1.0). Apparently this crate name previously belonged to someone else who published a placeholder with the same name and version 0.1.1. I was not aware of this until I checked docs.rs.

### Expected behavior
* https://docs.rs/advantage leads to documentation for version 0.1.0 of my crate.
* In the owners section only my avata

[2020-05-21 07:18] Richard-W commented on #765
Apparently the previous owner published a lot of crates that have since been deleted from crates.io but are still on docs.rs. See https://docs.rs/releases/rustbae.

[2020-05-21 07:37] phil-opp commented on #650
Yes, it was. Thank you so much!

[2020-05-21 13:09] pietroalbini commented on #765
Thanks for opening the issue!

I deleted all the contents of the `advantage` crate and queued a rebuild of `advantage` 0.0.0 and 0.1.0.

[2020-05-21 13:24] pietroalbini commented on #765
The documentation is now live!

https://docs.rs/advantage/0.1.0/advantage/

[2020-05-21 13:24] #765 closed

[2020-05-21 13:41] jyn514 opened #766 "Consistency check with crates.io database"
docs.rs looks at the crates.io index the first time a crate is released, but never again after that. This means that if a crate is deleted from an index, the documentation stays up (e.g. https://github.com/rust-lang/docs.rs/issues/765). It would be great to have a way to compare the docs.rs database with the crates.io index to make sure they match up. It should start by verifying the `name version

[2020-05-22 19:48] Nemo157 opened #767 "Configurable index location"
To support a staging server and other users running their own docs.rs instance against their own registry the index repository used should be configurable.

[2020-05-23 09:10] Nemo157 commented on #767
Of course this is a bit more involved than I thought at first.

As well as changing the index this will need to:

1. Change the docbuilder to pull the crate to be built from the alternative registry.
2. Use the `api` key from the index to determine which API to hit for additional details, and deal with registries that do not support this API.

[2020-05-23 13:33] jyn514 commented on #767
Relevant code:
- https://github.com/rust-lang/docs.rs/blob/8fb139b/src/docbuilder/rustwide_builder.rs#L203
- https://docs.rs/rustwide/0.7.1/rustwide/struct.Crate.html#method.crates_io
- https://docs.rs/crate/rustwide/0.7.1/source/src/crates/cratesio.rs

This will require changes to rustwide.

[2020-05-23 15:30] Nemo157 commented on #767
I've got ~everything except the rustwide changes done in https://github.com/Nemo157/docs.rs/tree/alternative-registry

[2020-05-26 08:17] hargoniX opened #771 "ht32f1yyy RAM limit increase"
**Crate name: ht32f1yyy**
**Build failure link: https://docs.rs/crate/ht32f1yyy/0.1.0/builds/254186**

**Requested RAM limit: Not 100% sure how much it takes...though it seems like the current limits aren't enough**

**Why your crate needs the resource increases:**
It's a PAC crate for embedded Rust, hence it consumes bigger amounts of memory during docs generation as the amount of automatically g

[2020-05-26 08:19] hargoniX opened #772 "ht32f5xxxx RAM limit increase"
**Crate name: ht32f5xxxx**
**Build failure link: https://docs.rs/crate/ht32f5xxxx/0.1.0/builds/254183**

**Requested RAM limit: Not 100% sure how much it takes...though it seems like the current limits aren't enough**

**Why your crate needs the resource increases:**
It's a PAC crate for embedded Rust, hence it consumes bigger amounts of memory during docs generation as the amount of automatically

[2020-05-26 08:32] pietroalbini commented on #771
That warning is not related to your crate. The actual error is:

[code]

[2020-05-26 08:32] pietroalbini commented on #772
As the other crate, the error is:

[code]

[2020-05-26 08:33] Nemo157 commented on #771
It appears to have a `ht32f1655_56` feature instead.

[2020-05-26 10:54] hargoniX commented on #771
Oh you're right on both, thank's a bunch! I shall close these then.

[2020-05-26 10:54] #771 closed

[2020-05-26 10:54] #772 closed

[2020-05-27 03:57] jyn514 commented on #740
Motivation for `tera`, as discussed on discord:
- hot reloading so that modifying templates isn't as painful
- inheritance in templates
- more processing done in templates instead of code so we can use more `derive(Serialize)`
- better docs

[2020-05-27 04:02] Kixiron commented on #740
All of that culminates into what at the end of the day is better, more modifiable and more maintainable code, which is a bonus on every front

[2020-05-27 10:00] pietroalbini commented on #740
I'd also be in favor of moving to tera.

[2020-05-27 13:51] Kixiron commented on #14
Triage: I've messed around with the GitHub apu some, I think this could be a viable thing to do because if done right we could just treat github updates as another web request. It'd allow us to respond to crate uploads in a shorter span of time as well as making less requests to github, which is just considerate.

Maybe implement this after the hyper transition, I think it'd be best fit in an asyn

[2020-05-27 13:52] Kixiron commented on #55
Triage: This should be an easy fix, error messages in general do need improvement still

[2020-05-27 14:05] Kixiron commented on #55
Mentor:
1. The current error is `Nope::CrateNotFound` which is accurate but still not a good error. As of now, a better error doesn't exist, so we'll make it
2. Go to [`src/web/error.rs`](https://github.com/rust-lang/docs.rs/blob/master/src/web/error.rs#L9) and find the `Nope` enum. Add a new variant named `VersionNotFound`, this will be our new error
3. Update the `Display` implementation for `No

[2020-05-27 14:11] Kixiron commented on #31
Triage: This can conceivably done with redirects, but we still don't have the same functionality as the source view generated by rustdoc

[2020-05-27 14:15] jyn514 commented on #31
There is work ongoing on this at https://github.com/rust-lang/rust/pull/69167, but it won't be done any time soon.

[2020-05-27 14:15] Kixiron commented on #35
Triage: This is fairly low priority for us to do but if a PR were made we would accept it

[2020-05-27 14:17] jyn514 commented on #14
@Kixiron This refers to uploads to crates.io, not anything on github. We'd need crates.io to add a webhook API first: https://github.com/rust-lang/crates.io/issues/381

[2020-05-27 14:22] Kixiron commented on #14
Using a github hook would have a similar effect until the crates.io one was implemented, as github would send post requests to us whenever the index repo was updated. I do agree though, using crates.io themselves would be a preferable situation

[2020-05-27 14:26] pietroalbini commented on #14
Yeah, we can definitely use the GitHub webhook on the repository index. I can set it up when we are ready.

[2020-05-27 14:29] Kixiron commented on #68
Closing in favor of #31

[2020-05-27 14:29] #68 closed

[2020-05-27 14:30] Kixiron commented on #61
Closing as the links do exist

[2020-05-27 14:31] Kixiron commented on #59
Closing as this now works as intended

[2020-05-27 14:31] #59 closed

[2020-05-27 14:36] Kixiron commented on #114
This would be much to intensive and complex to do, as it would require every search to search the entirety of our inventory which is A. Stored in S3 which would require downloading it all and B. Over 200k crates worth of documentation. These two things make it impossible computationally and far too costly